.mobile_schedulelist_content_grn {
    padding: 0 10px
}

.mobile_schedulelist_content_grn.ui-body-c {
    border-bottom: none
}

.mobile_schedulelist_content_grn .mobile_schedulelist_menu_grn {
    padding-right: 46px
}

.ui-btn-inline,.ui-btn-left,.ui-btn-right,.ui-grid-a .ui-btn,.ui-grid-b .ui-btn,.ui-grid-c .ui-btn,.ui-grid-d .ui-btn,.ui-grid-e .ui-btn,.ui-grid-solo .ui-btn,.ui-input-clear {
    margin: 0;
    padding: 0;
    height: 28px
}

input {
    padding: 0
}

input:disabled {
    font-weight: 400;
    text-shadow: none;
    color: #fff;
    background-color: #51a1db;
    box-shadow: 0 1px 0 0 #3084c1 inset
}

.ui-shadow {
    box-shadow: none
}

.mobile_schedulelist_icon_search_grn {
    background: url(/assets/mobile/img/search_parts.png) no-repeat center;
    background-size: 30px 30px;
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
    top: 16px;
    right: 10px
}

.mobile_schedulelist_icon_search_off_grn {
    background: url(/assets/mobile/img/search_parts_off.png) no-repeat center;
    background-size: 30px 30px;
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
    top: 16px;
    right: 10px
}

.mobile_schedulelist_bar_grn {
    margin: 0;
    padding: 0
}

.mobile_schedulelist_bar_grn .ui-grid-b {
    background-color: #ebebeb
}

.mobile_schedulelist_bar_grn .ui-bar {
    border: 0;
    margin: 0;
    padding: 10px 3px 5px 5px
}

.mobile_schedulelist_bar_grn .ui-grid-b .ui-block-a,.mobile_schedulelist_bar_grn .ui-grid-b .ui-block-b,.mobile_schedulelist_bar_grn .ui-grid-b .ui-block-c {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    height: 40px
}

.mobile_schedulelist_bar_grn .ui-block-a .ui-bar {
    float: left
}

.mobile_schedulelist_bar_grn .ui-block-c .ui-bar {
    float: right
}

.mobile_schedulelist_icon_backsub_grn a {
    display: inline-block;
    background: url(/assets/mobile/img/back_sub.png) no-repeat center center;
    background-size: 22px 22px;
    position: relative;
    width: 22px;
    height: 22px
}

.mobile_schedulelist_icon_advancesub_grn a {
    display: inline-block;
    background: url(/assets/mobile/img/advance_sub.png) no-repeat center center;
    background-size: 22px 22px;
    position: relative;
    width: 22px;
    height: 22px;
    float: right
}

.ui-body-c .mobile_schedulelist_icon_advancesub_grn .ui-link,.ui-body-c .mobile_schedulelist_icon_advancesub_grn .ui-link:active,.ui-body-c .mobile_schedulelist_icon_advancesub_grn .ui-link:link,.ui-body-c .mobile_schedulelist_icon_advancesub_grn .ui-link:visited,.ui-body-c .mobile_schedulelist_icon_backsub_grn .ui-link,.ui-body-c .mobile_schedulelist_icon_backsub_grn .ui-link:active,.ui-body-c .mobile_schedulelist_icon_backsub_grn .ui-link:link,.ui-body-c .mobile_schedulelist_icon_backsub_grn .ui-link:visited {
    cursor: pointer;
    background-color: #eee
}

.ui-body-c .mobile_schedulelist_icon_advancesub_grn .ui-link:hover,.ui-body-c .mobile_schedulelist_icon_backsub_grn .ui-link:hover {
    cursor: pointer;
    display: block;
    height: 22px;
    background-color: #eee
}

.mobile_schedulelist_bar_title_grn {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #666;
    width: auto
}

.mobile_schedulelist_grn {
    margin: 0;
    padding: 0
}

.mobile_schedulelist_list_grn a {
    color: #333
}

.mobile_schedulelist_list_grn {
    font-size: 20px;
    font-weight: 400;
    color: #333
}

.mobile_schedulelist_fri_grn,.mobile_schedulelist_mon_grn,.mobile_schedulelist_sat_grn,.mobile_schedulelist_sun_grn,.mobile_schedulelist_thur_grn,.mobile_schedulelist_tues_grn,.mobile_schedulelist_wed_grn {
    float: left;
    width: 14%;
    height: 44px;
    top: 10px;
    text-align: center;
    position: relative
}

.mobile_schedulelist_sat_grn,.mobile_schedulelist_sun_grn {
    width: 15%
}

.mobile_schedulelist_sun_grn {
    color: #ff807d
}

.ui-body-c .mobile_schedulelist_sun_grn .ui-link,.ui-body-c .mobile_schedulelist_sun_grn .ui-link:active,.ui-body-c .mobile_schedulelist_sun_grn .ui-link:link,.ui-body-c .mobile_schedulelist_sun_grn .ui-link:visited {
    display: block;
    cursor: pointer;
    color: #ff807d;
    text-decoration: none
}

.ui-body-c .mobile_schedulelist_sun_grn .ui-link:hover {
    display: block;
    cursor: pointer;
    color: #ff807d;
    height: 42px;
    background-color: #f3f3f3;
    text-decoration: none
}

.mobile_schedulelist_sat_grn {
    color: #5eade5
}

.ui-body-c .mobile_schedulelist_sat_grn .ui-link,.ui-body-c .mobile_schedulelist_sat_grn .ui-link:active,.ui-body-c .mobile_schedulelist_sat_grn .ui-link:link,.ui-body-c .mobile_schedulelist_sat_grn .ui-link:visited {
    display: block;
    cursor: pointer;
    color: #5eade5;
    text-decoration: none
}

.ui-body-c .mobile_schedulelist_sat_grn .ui-link:hover {
    display: block;
    cursor: pointer;
    color: #5eade5;
    height: 42px;
    background-color: #f3f3f3;
    text-decoration: none
}

.mobile_schedulelist_today_grn {
    display: block;
    border: 1px solid #ef9201;
    height: 42px
}

.mobile_schedulelist_select_grn {
    display: block;
    height: 42px;
    background-color: #51a1db;
    color: #fff
}

.ui-body-c .mobile_schedulelist_list_grn .ui-link {
    display: block;
    color: #333;
    text-decoration: none
}

.ui-body-c .mobile_schedulelist_list_grn .ui-link:hover {
    display: block;
    cursor: pointer;
    color: #333;
    height: 42px;
    background-color: #f3f3f3;
    text-decoration: none
}

.mobile_schedulelist_list_grn font {
    display: block;
    padding-top: 7px
}

.mobile_schedulelist_listtitle_grn {
    display: inline-block;
    font-size: 14px;
    top: 12px;
    height: 26px
}

.mobile_schedulelist_unabledate_grn {
    color: #a6a6a6
}

.mobile_schedulelist_regular_grn {
    display: block;
    background: url(/assets/mobile/img/mark_event_month.png) no-repeat center center;
    background-size: 5px 5px;
    position: absolute;
    top: 34px;
    width: 5px;
    height: 5px;
    left: 50%;
    margin-left: -2px
}

.mobile_schedulelist_regular_select_grn {
    display: block;
    background: url(/assets/mobile/img/mark_event_month_select.png) no-repeat center center;
    background-size: 5px 5px;
    position: absolute;
    top: 34px;
    width: 5px;
    height: 5px;
    left: 50%;
    margin-left: -2px
}

.mobile_schedulelist_allday_grn {
    display: block;
    position: absolute;
    border-top: 2px solid #82c108;
    width: 25px;
    top: 30px;
    left: 50%;
    margin-left: -11px
}

.mobile_schedulelist_allday_select_grn {
    display: block;
    position: absolute;
    border-top: 2px solid #fff;
    width: 25px;
    top: 30px;
    left: 50%;
    margin-left: -11px
}

.mobile_schedule_ul_grn .mobile_list_users_grn {
    width: 100%
}

.mobile_schedule_week_header_grn {
    margin: 0 -15px;
    padding: 16px 63px 16px 10px;
    height: 30px;
    white-space: nowrap;
    position: relative
}

.mobile_schedule_week_menu_grn {
    height: 40px;
    margin: 0 -15px 2px;
    text-align: center;
    border-top: 1px dashed #c9c9c9;
    padding-top: 2px
}

.mobile_schedule_week_menu_bottom_grn {
    border-top: none;
    border-bottom: 1px dashed #c9c9c9;
    margin-bottom: 0;
    padding-bottom: 2px
}

.mobile_schedule_week_menu_creditTitle_grn {
    border-top: none;
    border-bottom: 1px dashed #c9c9c9;
    margin-bottom: 9px;
    padding-bottom: 2px
}

.mobile_schedule_week_menu_grn a {
    display: inline-block;
    line-height: 40px;
    vertical-align: top
}

.mobile_schedule_week_menu_grn .mobile_left_array_grn {
    height: 40px;
    width: 22px;
    background: url(/assets/mobile/img/back_sub.png) no-repeat center center;
    background-size: 22px 22px;
    margin-right: 24px
}

.mobile_schedule_week_menu_grn .mobile_right_array_grn {
    height: 40px;
    width: 22px;
    background: url(/assets/mobile/img/advance_sub.png) no-repeat center center;
    background-size: 22px 22px;
    margin-left: 24px
}

.mobile_schedule_week_menu_grn .mobile_text_grn.ui-link {
    text-decoration: none;
    border: 1px solid #51a1db;
    border-radius: 4px;
    padding: 3px 5px;
    line-height: 1;
    margin-top: 8px
}

.mobile_schedule_week_menu_grn .mobile_text_grn.ui-link:hover {
    color: #51a1db;
    background-color: #eee;
    text-shadow: none
}

.mobile_schedule_week_menu_grn .mobile_right_icon_grn {
    height: 22px;
    width: 22px;
    background: url(/assets/mobile/img/datepicker.png) no-repeat center bottom;
    background-size: 22px 22px;
    position: absolute;
    right: 14px;
    padding-top: 9px
}

.mobile_week_day_title_grn {
    margin: 0 -15px;
    text-align: right;
    padding-right: 10px;
    background-color: #ebebeb;
    min-height: 40px;
    position: relative
}

.mobile_week_day_title_grn>div {
    display: inline-block
}

.mobile_week_day_title_grn .mobile_week_date_grn {
    position: absolute;
    left: 10px;
    top: 50%;
    line-height: 1;
    margin-top: -8px;
    color: #666;
    font-weight: 700
}

.mobile_week_day_title_grn .mobile_week_holiday_grn {
    color: #e66154
}

.mobile_week_day_title_grn .mobile_week_saturday_grn {
    color: #51a1db
}

.mobile_week_day_title_grn .mobile_holiday_name_grn {
    margin-right: 33px;
    margin-bottom: -5px;
    color: #666;
    font-size: 12px
}

.ui-page-theme-a .mobile_no_appointment_ul_grn li {
    padding: 0 0 0 10px;
    height: 65px;
    line-height: 65px;
    font-size: 17px;
    color: #999
}

.mobile_holiday_table_grn {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
    padding-top: 2px
}

.mobile_holiday_table_grn div {
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.mobile_week_day_title_grn .mobile_oneline_grn {
    line-height: 40px
}

.mobile_week_day_title_grn .mobile_right_icon_grn {
    height: 22px;
    width: 22px;
    background: url(/assets/mobile/img/add.png) no-repeat center center;
    background-size: 22px 22px;
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -12px
}

.ui-listview>.mobile_list_todo_grn {
    height: 40px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px
}

.mobile_img_todo_schedule_grn {
    background: url(/assets/mobile/img/todo_schedule.png) no-repeat center center;
    background-size: 16px 16px
}

.mobile_img_todo_schedule_late_grn {
    background: url(/assets/mobile/img/todo_schedule_late.png) no-repeat center center;
    background-size: 16px 16px
}

.mobile_img_todo_share_schedule_grn {
    background: url(/assets/mobile/img/todo_share_schedule.png) no-repeat center center;
    background-size: 16px 16px
}

.mobile_img_todo_share_schedule_late_grn {
    background: url(/assets/mobile/img/todo_share_schedule_late.png) no-repeat center center;
    background-size: 16px 16px
}

.mobile_list_todo_grn span {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 4px;
    vertical-align: middle;
    background-position: 0 -2px
}

.mobile_schedule_ul_grn .mobile_list_content_grn {
    position: relative;
    top: -1px
}

.mobile-detailTitle-grn .mobile_event_menu_grn,.mobile_allday_grn .mobile_event_menu_grn,.mobile_list_content_grn .mobile_event_menu_grn {
    display: inline-block;
    color: #fff;
    text-shadow: none;
    padding: 2px;
    margin-right: 4px
}

.mobile-detailTitle-grn .mobile_event_menu_grn {
    font-size: 16px;
    margin-left: 0;
    line-height: 1;
    font-weight: 400
}

.mobile_list_lines_grn .mobile_event_menu_grn {
    font-size: 14px;
    position: relative;
    top: -1px
}

.mobile_event_menu_color1_grn {
    background-color: #3182dc
}

.mobile_event_menu_color2_grn {
    background-color: #70beef
}

.mobile_event_menu_color3_grn {
    background-color: #ef9201
}

.mobile_event_menu_color4_grn {
    background-color: #f44848
}

.mobile_event_menu_color5_grn {
    background-color: #f3a4b4
}

.mobile_event_menu_color6_grn {
    background-color: #b592d8
}

.mobile_event_menu_color7_grn {
    background-color: #c3a88b
}

.mobile_event_menu_color8_grn {
    background-color: #999
}

.mobile_event_menu_color_none_grn {
    background: url(/assets/mobile/img/event_menu_color_none.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_allday_color_grn {
    background-color: #70c70c
}

.mobile_allday_grn {
    color: #66ad0e;
    width: 100%
}

.mobile_allday_grn span {
    font-size: 14px
}

.mobile_detail_datetime_grn {
    display: inline-block;
    margin-right: 4px;
    white-space: nowrap
}

a.mobile-list-text-grn .mobile_tentative_text_grn {
    color: #66ad0e
}

.mobile_schedule_day_header_grn {
    position: relative;
    height: 40px;
    margin: -6px -15px 8px -15px
}

.mobile_schedule_day_header_grn .mobile_select_control_grn {
    padding: 4px 12px 0 130px;
}

.mobile_schedule_day_header_grn .mobile_switch_button_grn {
    display: flex;
    position: absolute;
    top: 4px;
    left: 10px
}

.mobile_schedulelist_icon_organization_grn {
    background: url(/assets/mobile/img/organization.png) no-repeat center;
    background-size: 30px 30px;
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
    top: 5px;
    right: 10px
}

.mobile_schedule_subtitle_space_grn {
    height: 24px
}

.mobile_schedule_day_subtitle_grn {
    margin: 0 -15px;
    padding: 4px 10px 4px 52px;
    background-color: #e5f1fa;
    position: relative;
    height: 36px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff
}

.mobile_schedule_day_subtitle_grn .mobile_icon_grn {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -17px
}

.mobile_schedule_day_subtitle_grn .mobile_title_grn {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 4px;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mobile_schedule_day_subtitle_grn .mobile_subtitle_grn {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mobile_schedule_day_subtitle_grn .mobile_icon_add_grn {
    height: 22px;
    width: 22px;
    background: url(/assets/mobile/img/add.png) no-repeat center center;
    background-size: 22px 22px;
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -12px
}

.mobile_schedule_day_subtitle_grn .mobile_icon_week_grn {
    height: 22px;
    width: 22px;
    background: url(/assets/mobile/img/week_s.png) no-repeat center center;
    background-size: 22px 22px;
    position: absolute;
    right: 56px;
    top: 50%;
    margin-top: -11px
}

.mobile_week_day_title_grn .mobile_right_text_grn {
    margin-bottom: -5px;
    margin-right: 0;
    color: #666;
    font-size: 12px
}

.mobile_list_grn .mobile_event_menu_grn {
    display: block;
    position: absolute;
    top: 50%;
    left: 42px;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    z-index: 2
}

.ui-listview>.mobile_event_list_grn>a.ui-btn {
    padding-left: 72px
}

.mobile_schedule_delete_confirm_grn {
    margin: 0
}

.mobile_schedule_grn {
    margin: 0;
    display: block;
    padding: 0
}

.mobile_schedule_grn .mobile_title_grn {
    font-size: 14px;
    color: #999;
    padding-bottom: 10px;
    font-weight: 700
}

.mobile_schedule_grn .mobile_title_grn span {
    margin-left: 4px
}

.mobile_schedule_grn .mobile_text_grn {
    font-size: 16px;
    padding-left: 40px;
    padding-bottom: 4px;
    display: block
}

.mobile_schedule_grn .mobile_text_grn .mobile_subtext_grn {
    font-size: 14px;
    display: block
}

.mobile_schedule_grn .mobile_important_grn {
    color: #e66154
}

.mobile_schedule_grn .mobile_list_grn {
    margin: 0;
    padding: 0
}

.mobile_schedule_grn .mobile_list_grn ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.mobile_schedule_grn .mobile_list_grn li {
    list-style-type: none;
    vertical-align: middle;
    padding-bottom: 10px;
    position: relative
}

.mobile_radiobutton_group_grn .mobile_radiobutton_base_grn {
    display: inline-block;
    margin-right: 16px
}

.mobile_schedule_grn .mobile_radiobutton_group_grn .mobile_icon_radiobutton_grn,.mobile_schedule_grn .mobile_radiobutton_group_grn .mobile_icon_radiobuttonon_grn {
    margin-left: 0
}

.mobile_schedule_grn .mobile_radiobutton_group_grn .mobile_text_grn {
    padding-left: 26px
}

.mobile_schedule_grn .mobile_icon_radiobutton_grn {
    display: inline-block;
    width: 22px;
    height: 22px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    margin-left: 8px;
    margin-top: 0
}

.mobile_schedule_grn .mobile_icon_radiobuttonon_grn {
    background: url(/assets/mobile/img/radiobutton_on.png) no-repeat 0 0;
    background-size: 22px 22px
}

.mobile_icon_radiobuttonoff_grn {
    background: url(/assets/mobile/img/radiobutton_off.png) no-repeat 0 0;
    background-size: 22px 22px
}

.mobile_schedule_grn .mobile_radiobutton_grn {
    display: inline-block;
    position: absolute;
    z-index: -1
}

.mobile_schedule_grn input[type=radiobox] {
    visibility: hidden
}

.mobile_schedule_grn .mobile_select_date_grn {
    margin: 0;
    padding: 0;
    border: none;
    height: 30px;
    vertical-align: top;
    display: inline-block
}

.mobile_schedule_grn .mobile_select_date_grn .ui-btn {
    height: 30px;
    padding: 0 6px
}

.mobile_schedule_grn .mobile_select_date_grn,.mobile_schedule_grn .mobile_select_date_grn span {
    line-height: 30px;
    font-weight: 400;
    overflow: visible;
    font-size: 14px;
    text-align: left
}

.mobile_schedule_grn .mobile_select_date_grn .ui-select {
    height: 30px;
    width: auto
}

.mobile_schedule_grn .ui-field-contain .mobile_select_date_grn .ui-select {
    width: auto;
    display: inline-block
}

.mobile_schedule_grn .mobile_select_date_grn .ui-icon {
    width: 16px;
    height: 16px;
    background: url(/assets/mobile/img/datepicker_s_b.png) no-repeat center center;
    background-size: 16px 16px
}

.mobile_schedule_grn .mobile_select_date_grn .ui-btn-icon-left>.ui-btn-inner>.ui-icon,.mobile_schedule_grn .mobile_select_date_grn .ui-btn-icon-right>.ui-btn-inner>.ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px
}

.mobile_schedule_grn .mobile_select_date_grn .ui-select .ui-btn-up-c {
    background-image: none;
    background-color: #fff;
    text-shadow: none
}

.mobile_schedule_grn .mobile_select_date_grn .ui-select .ui-btn-hover-c {
    color: #222;
    background-color: #f6f6f6;
    text-shadow: none
}

.mobile_schedule_grn .mobile_select_date_grn .ui-shadow {
    box-shadow: none
}

.mobile_schedule_grn .mobile_select_date_grn .ui-select .ui-btn-icon-right .ui-icon {
    left: 6px
}

.mobile_schedule_grn .mobile_select_date_grn .ui-select .ui-btn-icon-right .ui-btn-inner,.mobile_schedule_grn .mobile_select_date_grn .ui-select .ui-li-has-count .ui-btn-inner {
    padding-right: 6px;
    padding-left: 28px
}

.mobile_schedule_grn .mobile_select_date_grn .ui-icon,.mobile_schedule_grn .mobile_select_date_grn .ui-icon-searchfield::after {
    -webkit-border-radius: 0;
    border-radius: 0
}

.mobile_schedule_grn .mobile_select_date_grn .ui-icon-searchfield::after {
    background: #666;
    background: rgba(0,0,0,.4);
    background-image: url(images/icons-18-white.png);
    background-repeat: no-repeat
}

.mobile_select_date_grn .mobile-btn-calender-grn,.mobile_select_date_grn .mobile-btn-calender-grn:active,.mobile_select_date_grn .mobile-btn-calender-grn:hover,.mobile_select_date_grn .mobile-btn-calender-grn:visited {
    margin-top: 0;
    margin-bottom: 0
}

.mobile_select_date_grn .mobile-icon-calender-grn {
    left: 6px
}

.mobile_select_date_grn .mobile-font-normal-grn {
    padding-right: 6px;
    padding-left: 22px
}

.mobile_add_comment_information_grn,.mobile_detail_information_comment_grn,.mobile_schedule_alert_grn {
    position: relative;
    line-height: 1;
    margin-bottom: 16px
}

.mobile_schedule_alert_grn {
    padding-left: 30px
}

.mobile_detail_information_comment_grn {
    padding-left: 35px;
    padding-right: 15px
}

.mobile_add_comment_information_grn {
    padding-left: 20px
}

.mobile_add_comment_information_grn .mobile_icon_information_grn,.mobile_detail_information_comment_grn .mobile_icon_information_grn,.mobile_schedule_alert_grn .mobile_icon_information_grn {
    position: absolute;
    top: 0
}

.mobile_schedule_alert_grn .mobile_icon_information_grn {
    left: 10px
}

.mobile_detail_information_comment_grn .mobile_icon_information_grn {
    left: 15px
}

.mobile_add_comment_information_grn .mobile_icon_information_grn {
    left: 0
}

.mobile_add_comment_information_grn .mobile_text_information_grn,.mobile_detail_information_comment_grn .mobile_text_information_grn,.mobile_schedule_alert_grn .mobile_text_information_grn {
    font-size: 14px;
    line-height: 1
}

.mobile_schedule_alert_grn .mobile_text_information_grn {
    color: #e66154
}

.mobile_add_comment_information_grn .mobile_text_information_grn,.mobile_detail_information_comment_grn .mobile_text_information_grn {
    color: #666
}

.mobile_company_info_grn .mobile_label_grn,.mobile_tentative_list_grn .mobile_label_grn {
    background-color: #b0b0b0;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    padding: 4px;
    padding-left: 10px
}

.mobile_tentative_list_grn .mobile_date_grn,.mobile_tentative_list_grn .mobile_time_grn {
    margin-left: 10px;
    line-height: 1.2
}

.mobile_tentative_list_grn .mobile_btn_grn {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 16px;
    color: #444;
    text-shadow: none;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #51a1db;
    color: #51a1db;
    padding: 0 10px;
    text-decoration: none
}

.mobile_tentative_list_grn .mobile_btn_grn.ui-link:hover {
    color: #51a1db;
    background-color: #cce4f1
}

.mobile_company_info_grn a {
    text-decoration: none
}

.mobile_company_info_grn .mobile-list-todoDetail-grn {
    margin-left: 10px
}

.mobile_schedule_grn .mobile_schedulelist_menu_grn {
    padding-right: 0
}

.mobile_schedule_grn .mobile_select_date_grn .ui-select,.mobile_select_date_grn.mobile-contentSubButton-grn {
    margin-right: 8px
}

.mobile_float_left.mobile_select_date_grn.mobile-contentSubButton-grn {
    float: left
}

.mobile_schedule_grn .mobile_select_time_grn .ui-icon {
    width: 0;
    height: 0;
    background: 0 0;
    background-size: 0 0
}

.mobile_schedule_grn .mobile_select_time_grn .ui-select {
    padding-left: 0;
    padding-right: 0;
    min-width: 40px
}

.mobile_schedule_grn .mobile_select_time_grn span {
    text-align: center
}

.mobile_schedule_grn .mobile_schedule_timeline_grn {
    display: inline-block;
    border-top: 1px #a6a6a6 solid;
    width: 8px;
    height: 0;
    margin-top: 17px;
    margin-left: -8px
}

.mobile_schedule_grn .mobile_timezone_grn {
    display: block;
    font-size: 14px;
    color: #666;
    padding-top: 4px
}

.mobile_schedule_grn .mobile-filename-grn .mobile-checkbox-normal-grn,.mobile_schedule_grn .mobile-filename-grn .mobile-checkboxOff-todo-grn {
    top: -10px
}

.mobile_switch_button_grn .mobile_selected_grn {
    color: #fff
}

.mobile_switch_button_grn .ui-link,.mobile_switch_button_grn .ui-link:link,.mobile_switch_button_grn .ui-link:visited {
    color: #818181;
    text-decoration: none
}

.mobile_switch_button_grn .ui-link:hover {
    background-color: #eee
}

.mobile_schedule_grn .mobile_linetext_grn {
    display: block;
    font-weight: 700;
    padding: 4px 0 0 10px
}

.mobile_repeating_conditions_grn .mobile_list_grn li {
    padding-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    line-height: 50px;
    height: 50px;
    position: relative
}

.mobile_repeating_conditions_grn .mobile_text_grn {
    display: block;
    font-size: 16px;
    padding-left: 47px;
    padding-bottom: 0;
    line-height: 50px
}

.mobile_repeating_conditions_grn .mobile_icon_radiobutton_grn {
    display: inline-block;
    width: 22px;
    height: 22px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    margin-left: 15px;
    margin-top: 14px
}

.mobile_repeating_conditions_grn .ui-field-contain .ui-select {
    width: auto;
    display: inline-block
}

.mobile_repeating_conditions_grn .mobile_select_grn {
    display: inline-block;
    margin-top: 9px;
    vertical-align: top
}

.mobile_repeating_conditions_grn .mobile_select_grn .ui-select .ui-btn-icon-right .ui-icon {
    right: 4px
}

.mobile_repeating_conditions_grn .mobile_select_grn .ui-select .ui-btn-icon-right .ui-btn-inner,.mobile_repeating_conditions_grn .mobile_select_grn .ui-select .ui-li-has-count .ui-btn-inner {
    padding-right: 24px;
    padding-left: 4px
}

.mobile_repeating_conditions_grn .mobile_textmargin_grn {
    margin-right: 10px
}

.mobile_repeating_grn {
    text-shadow: none;
    margin: 8px 8px 0 8px;
    display: block;
    text-align: left
}

.mobile_repeating_grn .mobile_repeating_scroll_grn {
    position: relative;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.mobile_repeating_grn .mobile_repeating_text_grn,.mobile_repeating_grn .mobile_repeating_text_small_grn {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px
}

.mobile_repeating_grn .mobile_repeating_text_small_grn {
    font-size: 14px
}

.mobile_repeating_grn .mobile_repeating_table_grn {
    padding: 0;
    margin: 0
}

.mobile_repeating_grn .mobile_repeating_table_grn td,.mobile_repeating_grn .mobile_repeating_table_grn th {
    padding: 4px;
    font-size: 14px;
    vertical-align: top
}

.mobile_repeating_grn .mobile_repeating_table_grn tr>td:first-child {
    white-space: nowrap
}

.mobile_repeating_grn .mobile_repeating_table_grn th {
    color: #999;
    background-color: #eee;
    font-weight: 700
}

.mobile_repeating_grn .mobile_icon_listmarks_grn {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/assets/mobile/img/list_mark_s.png) no-repeat 0 0;
    background-size: 16px 16px;
    vertical-align: middle
}

.ui-listview>.mobile_attendance_detail_li_grn {
    padding: 0
}

.mobile_attendance_detail_li_title_grn {
    margin-left: 15px;
    margin-right: 15px
}

.mobile_attendance_detail_li_title_grn span {
    line-height: 34px
}

.mobile_attendance_detail_li_title_grn .mobile-contents-todoDetail-grn span {
    line-height: 1.4;
    display: inline-block;
    margin-right: 4px
}

.mobile_attendance_detail_li_title_grn .mobile-contents-todoDetail-grn {
    white-space: normal;
    margin-bottom: 8px
}

.mobile_attendance_detail_title_right_grn,.mobile_event_status_absence_grn,.mobile_event_status_attendance_grn,.mobile_event_status_unanswered_grn {
    float: right
}

.mobile_event_status_absence_grn,.mobile_event_status_attendance_grn,.mobile_event_status_unanswered_grn {
    font-size: 16px;
    font-weight: 700
}

.mobile_event_status_unanswered_grn {
    color: #666
}

.mobile_event_status_attendance_grn {
    color: #66ad0e
}

.mobile_event_status_absence_grn {
    color: #f44848
}

.mobile_attendance_detail_title_right_grn {
    margin-right: 4px
}

.mobile_attendance_detail_numberLine_grn {
    color: #999
}

.mobile_attendance_detail_numberLine_grn span {
    vertical-align: middle
}

.mobile-todoBodyText-grn .mobile_attendance_detail_numberLine_grn {
    width: 100%
}

.mobile_attendance_none_grn {
    margin-top: 24px
}

.mobile_attendance_userListSwitch_grn {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0
}

.mobile_attendance_userListUl_grn li {
    height: auto
}

.mobile_attendance_userListUl_grn.ui-listview>.ui-li-static {
    padding: 0
}

.mobile_attendance_userListUl_grn img:first-child.mobile-image-member-grn {
    position: absolute;
    left: 5px;
    top: 5px
}

.mobile_attendance_userList_div_grn {
    padding: 5px 25px 0 50px;
    min-height: 45px;
    border-top: 1px solid transparent;
    margin: 0;
    display: block;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.mobile_attendance_comment_grn {
    font-size: 14px;
    color: #333;
    white-space: normal;
    margin: 0 25px 4px 5px;
    line-height: 1.2
}

.mobile_update_title_text_grn {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mobile_schedule_overlay_grn {
    margin: 16px 15px 12px
}

.mobile_changeBtnMargin_grn {
    height: 1px
}

.mobile_attendance_check_confirm_title {
    margin-left: 8px
}

.mobile_facility_approval_textarea_grn {
    margin-left: 15px;
    margin-right: 15px
}

.mobile-div-title-grn,.ui-content .mobile_facility_process_history_grn {
    margin-bottom: 8px
}

.mobile-div-title-grn,.ui-content .mobile_facility_process_noHistory_grn {
    margin-bottom: 0
}

.mobile_process_history_link_grn {
    margin-left: 15px
}

.mobile_process_history_detail_grn .mobile_user_grn span {
    display: inline-block;
    vertical-align: middle
}

.mobile_process_history_detail_grn .mobile_icon_user_grn {
    height: 16px;
    width: 16px
}

.mobile_week_day_title_grn .mobile_week_sunday_grn {
    color: #e66154;
}
