body,span {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    word-wrap: break-word
}

a,body,button,dd,div,dl,dt,form,input,li,ol,p,pre,select,span,table,td,textarea,th,tr,ul {
    font-family: Helvetica,Arial,sans-serif!important
}

.ui-btn,button,input,select,textarea {
    line-height: 1.4
}

textarea {
    -webkit-appearance: none
}

.ui-body-c .ui-link,.ui-btn-hover-c,.ui-btn-up-c {
    font-weight: 400;
    text-decoration: none
}

.ui-body-c .ui-link,.ui-body-c .ui-link:visited,.ui-page-theme-a .mobile_user_label_area_grn a:active {
    color: #51a1db
}

.ui-body-c .ui-link:hover,.ui-page-theme-a a:hover,html .ui-bar-a a:hover,html .ui-body-a a:hover,html body .ui-group-theme-a a:hover {
    color: #e54b00
}

.ui-btn-active:hover {
    color: #333
}

.ui-btn,label.ui-btn {
    border-left-width: 0
}

.ui-datebox-griddate.ui-btn {
    border-left-width: 1px
}

.ui-btn {
    padding: 0
}

.ui-footer .ui-btn,.ui-header .ui-btn {
    display: block;
    font-size: inherit
}

.ui-overlay-a,.ui-page-theme-a,.ui-page-theme-a .ui-panel-wrapper {
    background-color: rgba(255,255,255,0)
}

.ui-page-theme-a .ui-btn,.ui-page-theme-a .ui-btn:visited,html .ui-bar-a .ui-btn,html .ui-bar-a .ui-btn:visited,html .ui-body-a .ui-btn,html .ui-body-a .ui-btn:visited,html body .ui-group-theme-a .ui-btn,html body .ui-group-theme-a .ui-btn:visited,html head+body .ui-btn.ui-btn-a,html head+body .ui-btn.ui-btn-a:visited {
    background-color: rgba(255,255,255,0)
}

.ui-content {
    padding: 15px
}

.ui-page-theme-a a,html .ui-bar-a a,html .ui-body-a a,html body .ui-group-theme-a a {
    font-weight: 400
}

.ui-body-a,.ui-page-theme-a .ui-body-inherit,html .ui-bar-a .ui-body-inherit,html .ui-body-a .ui-body-inherit,html .ui-panel-page-container-a,html body .ui-group-theme-a .ui-body-inherit {
    text-shadow: none
}

.ui-page-theme-a .ui-btn:hover,html .ui-bar-a .ui-btn:hover,html .ui-body-a .ui-btn:hover,html body .ui-group-theme-a .ui-btn:hover,html head+body .ui-btn.ui-btn-a:hover {
    text-shadow: none
}

.ui-listview>.ui-li-static {
    padding: .9em 15px
}

.ui-panel-fixed-toolbar {
    overflow: visible
}

.ui-input-search,.ui-input-text {
    border-width: 0
}

.ui-input-text input {
    padding: 0
}

.mobile-cmt-input-grn .ui-input-text input,.mobile-commentAndMsg-grn .ui-input-text input,.mobile-div-title-grn .ui-input-text input,.mobile-todoAddComment-grn .ui-input-text input {
    padding: .4em 0
}

.ui-controlgroup-label,.ui-mobile label {
    display: inline
}

.ui-input-text {
    padding-left: .4em;
    padding-right: .4em
}

.ui-btn button,.ui-btn input {
    z-index: 2
}

.ui-btn-hidden {
    background: none repeat scroll 0 0 rgba(255,255,255,0);
    border: 0 none;
    cursor: pointer;
    font-size: 1px;
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%
}

.ui-mobile label {
    margin-bottom: 0
}

.ui-select {
    margin: 0
}

.ui-icon-carat-d::after {
    background: 0 0
}

label.ui-btn {
    font-weight: 400;
    border-width: 0
}

.ui-page-theme-a a:hover,html .ui-bar-a a:hover,html .ui-body-a a:hover,html body .ui-group-theme-a a:hover {
    color: #e54b00
}

.ui-input-search::after {
    background: 0 0
}

.ui-input-search {
    margin: 0
}

.ui-overlay-b {
    background: #f3f3f3
}

.ui-input-search input,.ui-input-text input {
    min-height: 1.4em
}

.ui-popup.ui-body-inherit {
    border: none
}

.mTop15 {
    margin-top: 15px
}

.mLeft5 {
    margin-left: 5px
}

.mobile_bold_grn {
    font-weight: 700
}

.mobile_line_dashed_grn {
    border-bottom: 1px dashed #d3d3d3
}

.mobile_float_left_grn {
    float: left
}

.mobile_float_right_grn {
    float: right
}

.mobile_clear_grn {
    clear: both
}

.mobile_ul_style_off_grn {
    margin: 0;
    padding: 0
}

.mobile_li_style_off_grn {
    margin: 0;
    padding: 0;
    list-style: none
}

.mobile-buttonMain-grn .ui-btn:active,.mobile-buttonNormal-grn .ui-btn:active,.mobile-icon-filter-grn:active,.mobile-threadAddComment-grn>div:active,.mobile-todoAddComment-grn>div:active,.mobile_breadcrumbtitle_back_grn:hover,.mobile_breadcrumbtitle_grn .mobile_page_down_grn:hover,.mobile_breadcrumbtitle_grn .mobile_page_up_grn:hover,.mobile_btn_with_sub_grn .mobile_ok_sub_normal_grn .ui-btn:active,.mobile_button_attention_grn .ui-btn:active,.mobile_cancel_grn .ui-btn:active,.mobile_comment_action_grn:active,.mobile_datepicker_icon_advancesub_grn a:active,.mobile_datepicker_icon_backsub_grn a:active,.mobile_ok_grn .ui-btn:active,.mobile_ok_sub_grn .ui-btn:active,.mobile_paging_grn .mobile_advance_grn:hover,.mobile_paging_grn .mobile_back_first_grn:hover,.mobile_paging_grn .mobile_back_grn:hover,.mobile_pulldown_user_incremental_search_grn a.ui-btn:active,.mobile_schedule_day_subtitle_grn .mobile_icon_add_grn:hover,.mobile_schedule_day_subtitle_grn .mobile_icon_week_grn:hover,.mobile_schedule_week_menu_grn .mobile_left_array_grn:hover,.mobile_schedule_week_menu_grn .mobile_right_array_grn:hover,.mobile_schedule_week_menu_grn .mobile_right_icon_grn:hover,.mobile_schedulelist_icon_organization_grn:active,.mobile_schedulelist_icon_search_grn:active,.mobile_schedulelist_icon_search_off_grn:active,.mobile_titlebar_grn .mobile_colse_icon_grn:hover,.mobile_user_list_grn .mobile_add_grn:active,.mobile_user_list_grn .mobile_delete_grn:active,.mobile_user_search_grn .mobile_icon_grn:hover,.mobile_week_day_title_grn .mobile_right_icon_grn:hover {
    opacity: .5
}

.mobile-cmt-input-grn>div:active>input {
    color: #bababa
}

.mobile_breadcrumbtitle_grn .mobile_base_disable_grn:hover,.mobile_paging_grn .mobile_base_disable_grn:hover {
    opacity: .3
}

.mobile_rblank_s_grn {
    margin-right: 4px
}

.mobile_rblank_l_grn {
    margin-right: 16px
}

.mobile-loading-grn .mobile-loader-grn {
    display: block
}

.mobile-loader-grn .mobile-icon-spinner-grn {
    position: static;
    display: block;
    opacity: .9;
    margin: 0 auto;
    height: 35px;
    background-color: transparent
}

.mobile-loader-grn {
    display: none;
    position: absolute;
    opacity: .85;
    left: 50%;
    width: 200px;
    margin-left: -130px;
    margin-top: 35px;
    padding: 10px 30px
}

.mobile-icon-spinner-grn {
    background: url(/assets/mobile/img/spinner.gif) no-repeat center center;
    background-size: 30px 30px
}

.mobile-separation-grn,.mobile_separation_line_grn {
    margin: 0 -15px 10px;
    border-bottom: 1px solid #d3d3d3
}

.mobile_separation_line_grn {
    margin-bottom: 0
}

.mobile_comment_list_grn .ui-listview>.ui-first-child.ui-li-static {
    border-top: 1px dashed #ccc
}

.mobile-bodyTextSummary-grn .mobile-separation-grn,.mobile-li-PersonInCharge-grn .mobile-separation-grn {
    margin-bottom: 0
}

.mobile_titlebar_div_grn .ui-li.ui-last-child,.ui-li.ui-field-contain.ui-last-child {
    border-bottom: 1px solid #c9c9c9
}

.mobile-cmt-operate-grn .mobile-textspace-div-grn {
    padding: 0 0 10px 0
}

.mobile-div-title-grn div.ui-input-text {
    margin: 0
}

.mobile-div-title-grn .mobile_textarea_control_main_grn {
    max-height: 300px;
    overflow-y: auto
}

.mobile-div-title-grn .mobile_textarea_control_sub_grn {
    max-height: 200px;
    overflow-y: auto
}

.ui-listview>.ui-li-has-icon>.ui-btn>img:first-child,.ui-listview>.ui-li-has-icon>img:first-child {
    position: absolute;
    left: 30px;
    top: 5px
}

.ui-page-theme-a .ui-listview>.ui-li-has-icon .mobile-icon-big-grn,.ui-page-theme-a .ui-listview>.ui-li-has-icon img:first-child.mobile-icon-big-grn {
    position: absolute;
    left: 30px
}

.ui-listview .mobile-icon-big-grn,.ui-listview>.ui-li-has-icon>.ui-btn>img:first-child,.ui-listview>.ui-li-has-icon>img:first-child {
    max-height: 40px;
    max-width: 40px
}

.mobile-array-list-grn {
    background: url(/assets/mobile/img/advanceList.png) no-repeat 0 0;
    display: block;
    position: absolute;
    width: 12px;
    height: 20px;
    background-size: 12px 20px;
    float: right;
    top: 14px;
    right: 10px
}

.mobile-content-withList-grn {
    padding-top: 0;
    padding-bottom: 0
}

.mobile-content-withList-grn .mobile-padding-leftright-grn {
    padding-left: 0;
    padding-right: 0
}

.mobile-ul-top-grn {
    margin-top: 0!important
}

.mobile-ul-bottom-grn {
    margin-bottom: 0!important
}

.mobile-icon-attachment-list-grn {
    background: url(/assets/mobile/img/attachment.png) no-repeat 0 0;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    float: right;
    top: 13px;
    right: 30px
}

.mobile-icon-attachment-left-grn {
    background: url(/assets/mobile/img/attachment.png) no-repeat 0 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: 22px 22px
}

.mobile-list-lastheight-grn {
    height: 60px
}

.mobile-btn-seemore-grn {
    position: relative;
    top: 15px
}

.mobile-btn-radius-grn {
    border-radius: 4px
}

.ui-listview>.ui-li-has-icon>.ui-btn,.ui-listview>.ui-li-static.ui-li-has-icon {
    padding-left: 72px;
    padding-top: 14px;
    padding-bottom: 14px
}

.mobile-bodyText-grn {
    padding: 15px;
    text-align: center;
    text-shadow: none
}

.mobile_discussion_list_grn .mobile-list-text-short-grn {
    padding: 0 30px 0 10px;
    line-height: 50px
}

.mobile-icon-list-privateMark-grn {
    background: url(/assets/mobile/img/private_s_sub.png) no-repeat 0 0;
    display: block;
    position: absolute;
    height: 24px;
    width: 16px;
    background-size: 16px 16px;
    float: left;
    top: 16px;
    left: 10px
}

.mobile-title-privateMark-grn {
    background: url(/assets/mobile/img/privateMark.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: -12px;
    height: 24px;
    width: 12px;
    background-size: 12px 12px
}

.mobile-header-withIcon-grn {
    height: 20px
}

.mobile-icon-attachment-add-grn {
    background: url(/assets/mobile/img/addAttachment.png) no-repeat 0 0;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    float: left;
    left: -20px
}

.mobile-content-grn {
    background-color: #fff
}

.mobile_block_grn {
    display: block
}

.mobile_label_next_grn {
    margin-bottom: 10px
}

.mobile_zero_height_grn {
    height: 0
}

.mobile-required-grn {
    color: red
}

.mobile-textarea-grn.ui-input-text {
    min-height: 160px!important;
    margin-top: 0;
    margin-bottom: 0
}

.mobile_textarea_sub_grn.ui-input-text {
    min-height: 100px!important
}

.mobile-textarea-auto-short-grn.ui-body-c,.mobile-textarea-grn.ui-body-c {
    border: 1px solid #c9c9c9
}

.mobile-textarea-auto-short-grn.ui-shadow-inset,.mobile-textarea-grn.ui-shadow-inset {
    box-shadow: none
}

.mobile-textarea-auto-short-grn.ui-input-text {
    min-height: 35px;
    height: 35px!important;
    margin-top: 0;
    margin-bottom: 0;
    color: #777
}

.mobile-textarea-auto-long-grn.ui-input-text {
    min-height: 160px;
    margin-top: 0;
    margin-bottom: 0
}

.mobile-div-title-grn,.ui-content .mobile-div-title-grn {
    margin-bottom: 16px
}

.mobile-cmt-input-grn .ui-body-c,.mobile-comment-grn .ui-body-c,.mobile-commentAndMsg-grn .ui-body-c,.mobile-div-title-grn .ui-body-c {
    border-bottom: 0
}

.mobile-cmt-input-grn .ui-shadow-inset,.mobile-comment-grn .ui-shadow-inset,.mobile-commentAndMsg-grn .ui-shadow-inset,.mobile-div-title-grn .ui-shadow-inset {
    box-shadow: none
}

.mobile-comment-grn>.ui-input-text,.mobile-commentAndMsg-grn>.ui-input-text,.mobile-div-title-grn>.ui-input-text {
    border: 1px solid #b0b0b0
}

.mobile-bodyTextSummary-grn {
    background: #fff;
    margin-left: -15px;
    margin-right: -15px
}

.mobile_comment_form_grn {
    margin-top: 16px
}

.mobile-attachmentArea-grn .mobile-label-grn {
    margin: 0
}

.mobile-attachmentArea-grn .ui-btn {
    margin-bottom: 0
}

.mobile-attachmentArea-grn .mobile_attachment_filename_grn {
    margin-bottom: 8px
}

.mobile-icon-attachmentArea-grn {
    background: url(/assets/mobile/img/file_s_sub.png) no-repeat 0 0;
    height: 22px;
    width: 22px;
    background-size: 22px 22px
}

.mobile-buttonSelectAttachment-grn {
    z-index: 100;
    opacity: 0;
    width: 60px;
    height: 45px;
    position: absolute
}

.mobile_images_s_file_grn {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(/assets/mobile/img/file_s_sub.png) no-repeat 0 0;
    background-size: 22px 22px;
    vertical-align: middle;
    margin-right: 4px
}

.mobile_images_s_delete_grn {
    display: inline-block;
    width: 16px;
    height: 18px;
    background: url(/assets/mobile/img/delete_s.png) no-repeat 0 0;
    background-size: 16px 16px;
    vertical-align: text-bottom;
    margin-right: 4px;
    margin-left: 10px
}

.mobile_v_middle_grn {
    vertical-align: middle
}

.mobile-contentSubButton-grn .mobile-attachmentButton-add-grn {
    margin-top: 0;
    width: 44px;
    height: 44px;
    background: url(/assets/mobile/img/add_attachment.png) no-repeat 0 0;
    background-size: 44px 44px;
    border: none;
    box-shadow: none
}

#start_date .mobile-btn-calender-grn {
    margin-bottom: 16px
}

.mobile-button-left-grn {
    display: inline-block
}

.mobile-button-right-grn {
    display: inline-block
}

.mobile-footspace-footer-grn {
    text-align: center
}

.mobile-footspace-footer-grn h4 a {
    border-radius: 4px 4px 4px 4px;
    width: 80px;
    color: #000;
    font-weight: 400
}

.mobile-footspace-footer-grn h4 a:hover {
    color: #959595;
    font-weight: 400
}

.mobile-footspace-footer-grn h6 {
    color: #999;
    font-size: 12px!important;
    font-weight: 400;
    display: inline;
    white-space: nowrap
}

.mobile_footer_margin_grn {
    height: 60px
}

.mobile_footspace_info_grn {
    line-height: 1px;
    margin-top: 4px;
    margin-bottom: 10px
}

.mobile_footspace_info_grn span {
    display: inline-block;
    line-height: 1.2;
    margin: 0;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap
}

.mobile-upped-position-grn {
    margin-top: 20px
}

.mobile-uppedAttachment-grn {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 28px;
    margin-top: 15px
}

.mobile-selectAttachment-grn .ui-body-c {
    border: none
}

.mobile-selectAttachment-grn div.ui-input-text {
    margin-top: 0
}

.mobile-selectAttachment-grn div.ui-input-text input {
    padding-top: 0;
    padding-bottom: 0;
    width: 60px
}

.mobile-filename-grn {
    display: inline-block
}

.mobile-filename-grn span {
    display: inline-block;
    vertical-align: middle
}

.mobile-filename-grn .mobile-icon-attachmentArea-grn {
    margin-left: 10px;
    margin-right: 4px
}

.mobile-icon-starOn-grn {
    background: url(/assets/mobile/img/starOn.png) no-repeat 0 0;
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: -5px;
    background-size: 25px 25px
}

.mobile-icon-starOff-grn {
    background: url(/assets/mobile/img/starOff.png) no-repeat 0 0;
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: -5px;
    background-size: 25px 25px
}

.mobile-ul-withStar-grn .mobile-icon-starOff-grn,.mobile-ul-withStar-grn .mobile-icon-starOn-grn {
    position: absolute
}

.mobile-ul-withStar-grn {
    min-height: 25px;
    height: auto;
    background: #fff;
    list-style-type: none;
    margin: 0
}

.mobile-ul-withStar-grn a {
    vertical-align: top
}

.mobile-ul-withStar-grn span {
    display: block;
    margin: 0 20px 0 5px;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    white-space: normal;
    position: relative;
    top: 3px
}

.mobile-ul-withStar-grn a+span {
    margin-left: 35px
}

.mobile-detailTitle-grn .mobile_event_menu_grn,.mobile-detailTitle-grn .mobile_private_title_grn,.mobile_private_title_grn .mobile_list_icon_privatessub_grn {
    position: relative;
    top: 0
}

.mobile-commentAndMsg-grn,.mobile-todoAddComment-grn {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px
}

.mobile-comment-grn {
    position: relative;
    display: block;
    margin-top: 15px;
    padding: 0 15px 15px;
    margin-bottom: 15px;
    background-color: #fff
}

.mobile-newComment-grn {
    color: #3e3e3e;
    font-weight: 700;
    text-shadow: none;
    height: 30px;
    display: block;
    text-align: center;
    padding: 10px 0 0 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 15px
}

.mobile-commentLink-todo-grn {
    border: #999 1px solid;
    background: #eaeaea;
    color: #3e3e3e;
    font-weight: 700;
    text-shadow: none;
    width: 80%;
    display: block;
    text-align: left;
    padding: 10px 0 0 10px;
    margin: 0 0 10px 15px;
    border-radius: 4px;
    clear: both
}

.mobile-num-writeback-grn {
    text-shadow: none;
    font-weight: 700
}

.mobile-commentLink-noArray-grn {
    border: #c9c9c9 1px solid;
    background: #eaeaea;
    color: #3e3e3e;
    font-weight: 700;
    text-shadow: none;
    height: 30px;
    display: block;
    text-align: left;
    padding: 10px 0 0 10px;
    margin-bottom: 10px;
    border-radius: 4px
}

.ui-body-c .mobile-commentLink-noArray-grn .ui-link:hover,.ui-body-c .mobile-commentLink-todo-grn .ui-link:hover {
    color: #51a1db
}

.ui-body-c .mobile-commentLink-noArray-grn .ui-link:active,.ui-body-c .mobile-commentLink-todo-grn .ui-link:active {
    color: #e54b00
}

.mobile-commentLink-noArray-grn a,.mobile-commentLink-todo-grn a {
    text-decoration: none;
    display: block
}

.mobile-todo-content-grn {
    padding-right: 20px;
    word-wrap: break-word;
    clear: both
}

.mobile-todo-content-nomark-grn {
    padding-right: 30px;
    word-wrap: break-word;
    clear: both
}

.mobile-todo-content-grn pre,.mobile-todo-content-nomark-grn pre {
    width: 100%
}

.mobile-commentLink-todo-content-grn {
    display: block;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    white-space: normal;
    word-wrap: break-word
}

.mobile-commentLink-normal-grn {
    color: #333;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    margin-right: 4px
}

.mobile-icon-commentLink-todo-grn {
    background: url(/assets/mobile/img/advance_a.png) no-repeat 0 0;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
    margin-right: 4px
}

.mobile-contents-todoDetail-grn .mobile-icon-commentLink-todo-grn {
    vertical-align: -2px
}

.mobile-num-list-grn {
    display: inline-block
}

.mobile_mention_textarea_ui_base_grn {
    margin-top: 10px;
    margin-bottom: 4px
}

.mobile_mention_textarea_base_grn .mobile_pulldown_user_incremental_search_grn {
    top: auto;
    left: 16px;
    right: 56px
}

.mobile_mention_textarea_base_grn .mobile-div-title-grn {
    margin-top: -1px
}

.mobile_mention_textarea_base_grn .mobile_user_search_grn {
    margin: 4px 8px 4px
}

.mobile_mention_textarea_base_grn .mobile_user_search_grn .mobile_delete_icon_grn {
    right: 4px
}

.mobile_mention_textarea_base_grn .mobile_seletedUser_list_grn {
    margin-top: 0;
    border-radius: 0
}

.mobile_mention_textarea_base_grn .ui-input-text {
    border-radius: 0
}

.mobile_mention_comment_base_grn {
    margin: 8px 0 8px
}

.mobile_mention_comment_base_grn .mobile_mention_comment_li_grn {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    white-space: nowrap
}

.mobile_mention_comment_base_grn .mobile_user_grn {
    margin: 0 12px 2px 0;
    white-space: nowrap
}

.mobile_mention_comment_li_grn .mobile_user_item_grn,.mobile_user_grn .mobile_user_item_grn {
    font-size: 14px
}

.mobile_mention_comment_li_grn .mobile_user_item_grn {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    max-width: 320px
}

.mobile_comment_action_item_grn {
    margin-right: 8px
}

.mobile-list-login-grn,.mobile-list-unlogin-grn,.mobile-userInvalid-grn,.mobile-userInvalidApp-grn {
    text-shadow: none;
    font-size: 16px;
    font-weight: 400
}

.mobile-list-normal-grn {
    background: #fff
}

.mobile-listHeader-login-grn .mobile-user-list-grn,.mobile-listHeader-unlogin-grn .mobile-user-list-grn {
    display: inline-block;
    position: relative;
    margin-right: 8px
}

.mobile-listHeader-login-grn .mobile-date-list-grn,.mobile-listHeader-unlogin-grn .mobile-date-list-grn {
    display: inline-block;
    position: relative;
    line-height: 22px;
    clear: both;
    float: right;
    margin-bottom: 8px
}

.mobile_list_photo_grn .mobile_user_photo_grn {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 35px;
    height: 35px;
    background: url(/assets/mobile/img/userPlofile.png) no-repeat center center;
    background-size: 35px 35px
}

.mobile_list_photo_grn .mobile-listHeader-unlogin-grn {
    margin-left: 43px
}

.mobile_list_photo_grn .mobile-todo-content-grn,.mobile_list_photo_grn .mobile-todo-content-nomark-grn {
    margin-left: 43px
}

.mobile-date-list-grn {
    font-size: 12px;
    color: #999;
    display: block
}

.mobile-date-list-grn span {
    font-size: 12px
}

.mobile-date-list-grn span {
    padding-top: 3px
}

.mobile-user-list-grn {
    font-size: 14px
}

.mobile-list-member-grn .mobile-profileImageUser-grn,.mobile-list-member-grn .mobile-profileImageUserInvalid-grn,.mobile-list-member-grn .mobile-profileImageUserLogin-grn,.mobile-profileImage-grn {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    display: inline-block
}

.mobile-profileImage-grn {
    display: inline-block;
    vertical-align: 0;
    margin-right: 3px
}

.mobile-profileImageUserLogin-grn {
    background: url(/assets/mobile/img/userLoginPlofile.png) no-repeat 0 0
}

.mobile-profileImageUser-grn {
    background: url(/assets/mobile/img/userPlofile.png) no-repeat 0 0
}

.mobile-profileImageUserInvalid-grn {
    background: url(/assets/mobile/img/userInvalidPlofile.png) no-repeat 0 0
}

.mobile-profileImageBase-grn .mobile-num-list-grn {
    position: relative;
    top: -25px;
    float: left
}

.mobile-profileImageUserDate-grn {
    display: inline-block;
    top: -13px;
    position: relative
}

.mobile-profileImageUserDate-grn .mobile-date-list-grn {
    float: none;
    display: block
}

.mobile-array-bigList-grn {
    background: url(/assets/mobile/img/advanceList.png) no-repeat 0 0;
    display: block;
    position: absolute;
    width: 12px;
    height: 20px;
    background-size: 12px 20px;
    float: right;
    top: 45%;
    right: 10px
}

.mobile-list-unlogin-grn .mobile-listHeader-unlogin-grn .mobile-user-list-grn span {
    background: url(/assets/mobile/img/user.png) no-repeat 0 0
}

.mobile-userInvalid-grn .mobile-listHeader-unlogin-grn .mobile-user-list-grn span {
    background: url(/assets/mobile/img/userInvalid.png) no-repeat 0 0
}

.mobile-userInvalidApp-grn .mobile-listHeader-unlogin-grn .mobile-user-list-grn span {
    background: url(/assets/mobile/img/userInvalidApp.png) no-repeat 0 0
}

.mobile-listHeader-login-grn .mobile-user-list-grn span {
    background: url(/assets/mobile/img/userLogin.png) no-repeat 0 0
}

.mobile-list-unlogin-grn .mobile-listHeader-unlogin-grn .mobile-user-list-grn span,.mobile-listHeader-login-grn .mobile-user-list-grn span,.mobile-userInvalid-grn .mobile-listHeader-unlogin-grn .mobile-user-list-grn span,.mobile-userInvalidApp-grn .mobile-listHeader-unlogin-grn .mobile-user-list-grn span {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: 15px 15px;
    margin-right: 4px;
    vertical-align: -2px
}

.mobile-textspace-withStar-grn {
    padding: 13px 10px 0
}

.mobile-textspace-div-grn {
    border: none;
    background: #fff;
    font-size: 16px;
    text-shadow: none;
    line-height: 1.4;
    position: relative;
    display: block;
    padding: 15px;
    overflow-x: auto
}

.mobile-textspace-unread-grn {
    text-shadow: none;
    position: relative;
    display: block;
    padding: 10px;
    margin-bottom: 10px
}

.mobile-content-hidden-grn {
    overflow-y: hidden!important
}

.mobile-label-mark-grn {
    color: #e3503d
}

.mobile-label-late-grn {
    color: #e3503d
}

.mobile-label-normal-grn {
    color: #2f3e46
}

.mobile-ul-withBtn-grn {
    height: 54px
}

.mobile-ul-withBtn-grn li {
    padding-top: 0!important;
    padding-bottom: 0!important
}

.mobile-ul-withBtn-grn span {
    padding: 0
}

.mobile-icon-filter-grn {
    display: inline-block;
    background: url(/assets/mobile/img/filter.png) no-repeat 5px 5px;
    height: 40px;
    width: 40px;
    background-size: 30px 30px
}

.mobile_discussion_list_grn .ui-btn-inner {
    border-top: none
}

.ui-page-theme-a .mobile_discussion_list_grn .ui-btn.ui-btn-active {
    color: #333
}

span.mobile-discussion-grn {
    display: inline-block;
    line-height: 54px;
    vertical-align: top
}

.mobile-label-discussion-grn {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    line-height: 54px;
    top: 0;
    width: 46%;
    font-size: 14px;
    color: #333
}

.mobile-colorboard-grn {
    display: inline-block;
    width: 8px;
    height: 100%;
    overflow: hidden
}

.mobile-colorboard-late-grn {
    background-color: #e3503d
}

.mobile-colorboard-today-grn {
    background-color: #fcd459
}

.mobile-colorboard-inTerm-grn {
    background-color: #6dc9f8
}

.mobile-colorboard-noTerm-grn {
    background-color: #b8e5fc
}

.mobile-list-contents-todo-grn {
    display: inline-block;
    position: absolute;
    left: 45px;
    width: 100%;
    height: 50px
}

.mobile-a-list-grn .ui-link {
    text-decoration: none
}

.mobile-a-list-grn .ui-link-inherit {
    padding: 0!important
}

.mobile-a-list-grn .ui-li {
    border-top-width: 0!important
}

.mobile-checkbox-normal-grn {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url(/assets/mobile/img/checkbox_on.png) no-repeat 0 0;
    background-size: 22px 22px;
    cursor: pointer
}

.mobile-checkbox-todo-grn {
    display: inline-block;
    position: relative;
    top: -10px;
    height: 22px;
    width: 22px;
    background: url(/assets/mobile/img/checkbox_on.png) no-repeat 0 0;
    background-size: 22px 22px;
    cursor: pointer
}

.mobile-checkboxOff-todo-grn {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url(/assets/mobile/img/checkbox_off.png) no-repeat 0 0;
    background-size: 22px 22px
}

.mobile_checkbox_base_grn .mobile_checkbox_grn,.mobile_mail_checkbox_grn .mobile_checkbox_grn,.mobile_schedule_grn .mobile_checkbox_grn {
    display: inline-block;
    z-index: -1;
    margin-right: 4px
}

.mobile_checkbox_base_grn .mobile_checkbox_grn input[type=checkbox],.mobile_mail_checkbox_grn .mobile_checkbox_grn input[type=checkbox],.mobile_schedule_grn .mobile_checkbox_grn input[type=checkbox] {
    visibility: hidden
}

.mobile-cmt-input-grn .mobile-checkbox-normal-grn,.mobile-cmt-input-grn .mobile-checkboxOff-todo-grn,.mobile-content-grn .mobile-checkbox-normal-grn,.mobile-content-grn .mobile-checkboxOff-todo-grn,.mobile_checkbox_base_grn .mobile-checkbox-normal-grn,.mobile_checkbox_base_grn .mobile-checkboxOff-todo-grn {
    margin-right: 4px;
    vertical-align: middle
}

.mobile-content-grn .mobile_btn_checkboxtext_grn,.mobile_checkbox_base_grn .mobile_btn_checkboxtext_grn,.mobile_mail_checkbox_grn .mobile_btn_checkboxtext_grn,.mobile_schedule_grn .mobile_btn_checkboxtext_grn {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle
}

.mobile_update_notification_grn {
    text-align: center;
    margin: 20px 0 40px
}

.mobile-detailTitle-grn {
    white-space: nowrap
}

.mobile-ul-withStar-grn .mobile_private_title_grn {
    display: inline-block;
    white-space: nowrap;
    margin: 0
}

.mobile_private_title_grn .mobile_list_icon_privatessub_grn {
    display: inline-block;
    margin: 0
}

.mobile-detailTitle-grn .mobile-checkbox-todo-grn,.mobile-detailTitle-grn .mobile-checkboxOff-todo-grn {
    top: 0
}

.mobile-todo-list-inner-grn .mobile-checkbox-todo-grn,.mobile-todo-list-inner-grn .mobile-checkboxOff-todo-grn {
    position: relative;
    top: -14px
}

.mobile-todo-list-inner-grn .mobile-checkbox-todo-grn,.mobile-todo-list-inner-grn .mobile-checkboxOff-todo-grn {
    left: 2px
}

.mobile-todo-list-grn li {
    padding: 0!important;
    text-shadow: none;
    font-weight: none
}

.mobile-todoFilter-grn {
    background: #fff;
    height: 53px;
    margin-right: -25px;
    margin-left: -15px;
    vertical-align: top;
    position: relative
}

.mobile-todo-list-inner-grn {
    height: 50px
}

.mobile-list-contents-todo-grn .mobile-date-todo-grn {
    position: absolute;
    float: left;
    font-size: 12px;
    margin-top: 5px
}

.mobile-user-todo-grn {
    width: 105px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.mobile-list-contents-todo-grn .mobile-user-todo-grn {
    position: absolute;
    float: right;
    margin-right: 60px;
    right: 15px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px
}

.mobile-list-contents-todo-grn .mobile-title-todo-grn {
    padding-right: 80px;
    margin-top: 23px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.mobile-array-todo-grn {
    display: block;
    position: absolute;
    width: 12px;
    height: 20px;
    background-size: 12px 20px;
    float: right;
    top: 50%;
    right: 10px;
    margin-top: -10px
}

.mobile-cmt-operate-grn {
    background-color: #fff;
    padding: 15px 15px 5px
}

.mobile-cmt-input-grn {
    padding: 15px 15px 15px 15px
}

.mobile-cmt-dArray-grn {
    position: relative;
    left: 10px;
    width: 18px;
    height: 14px;
    float: left;
    background-image: url(/assets/mobile/img/array_down.png);
    top: -1px
}

.mobile-btn-del-text-grn span {
    width: 40px;
    position: relative;
    top: 2px;
    right: 3px
}

.mobile-title-member-grn {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    text-shadow: 0 1px 1px #fff
}

.mobile-array-member-grn {
    top: 15px
}

.ui-li-has-thumb>.ui-btn>img:first-child.mobile-image-member-grn {
    position: absolute;
    left: 5px;
    top: 5px
}

.mobile_user_photo_bg_grn {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: #c9c9c9;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    position: absolute;
    left: 5px;
    top: 5px
}

.mobile-list-member-grn {
    height: 50px
}

.mobile-list-member-grn .mobile-list-member-name-grn {
    margin-top: 4px
}

.mobile-list-member-grn .mobile_user_grn {
    text-overflow: ellipsis;
    overflow: hidden
}

.mobile-list-member-grn .mobile-label-small-grn,.mobile_facility_process_history_grn .mobile-font-warp-grn .mobile-label-small-grn,.mobile_facility_process_noHistory_grn .mobile-font-warp-grn .mobile-label-small-grn {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis
}

.mobile-favour-user-name-grn,.mobile-list-member-name-grn {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis
}

.ui-listview>li.mobile-list-member-grn>a.ui-btn {
    padding: 5px 25px 0 50px;
    min-height: 45px;
    border-top: 1px solid #ccc;
    border-bottom: 0
}

.ui-listview>li.ui-first-child>a.ui-btn {
    border-top: 0
}

.mobile-top-listview-member-grn {
    margin-top: 0!important
}

.mobile-bottom-listview-member-grn {
    margin-bottom: 0!important
}

.mobile-bottom-listview-member-grn .ui-link-inherit {
    min-height: 39px!important
}

.mobile-icon-error-grn {
    background: url(/assets/mobile/img/attention.png) no-repeat 0 0;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    padding-bottom: 10px;
    padding-right: 32px
}

.mobile-error-grn {
    text-shadow: none
}

.mobile-error-area-grn div {
    padding-bottom: 10px
}

.mobile-content-error-grn {
    display: inline-block;
    padding-bottom: 10px;
    text-shadow: none;
    text-align: left;
    width: 178px
}

.mobile-check-user-grn label {
    display: block;
    margin: 20px 0 30px
}

.mobile-check-user-grn a.ui-link {
    vertical-align: middle
}

.mobile-check-user-grn span {
    display: inline-block;
    margin-left: 10px;
    width: 86%;
    vertical-align: middle
}

.mobile-check-todoDetail-grn {
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    height: auto;
    white-space: nowrap
}

.mobile-check-todoDetail-grn a {
    vertical-align: top
}

.mobile-check-todoDetail-grn span {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    white-space: normal
}

.mobile-list-todoDetail-grn {
    margin-bottom: 10px
}

.mobile_contents_detail_grn {
    display: block;
    margin-left: 10px;
    word-wrap: break-word;
    min-height: 16px
}

.mobile_contents_detail_addtype_grn {
    margin-left: 0
}

.mobile-contents-todoDetail-grn {
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    min-height: 16px
}

.mobile-contents-todoDetail-grn.mobile_todo_username_grn {
    font-size: 14px;
    line-height: 1;
    margin-top: 4px
}

.mobile-contents-todoDetail-grn.mobile_todo_username_grn .mobile-date-list-grn {
    margin-top: 2px
}

.mobile-contents-todoDetail-grn a {
    text-decoration: none
}

.mobile_detail_sub_grn {
    margin-top: 4px;
    min-height: 16px
}

.mobile_detail_sub_grn .mobile-list-todoDetail-grn {
    margin-left: 10px
}

.mobile-icon-calender-grn {
    background: url(/assets/mobile/img/datepicker_s_b.png) no-repeat 0 0;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    left: 10px;
    top: 50%;
    margin-top: -8px
}

.ui-body-c .mobile-btn-calender-grn,.ui-body-c .mobile-btn-calender-grn:active,.ui-body-c .mobile-btn-calender-grn:hover,.ui-body-c .mobile-btn-calender-grn:visited {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: .6em 20px .6em 30px;
    color: #333
}

.mobile-btn-calender-grn.ui-shadow {
    box-shadow: none
}

.mobile-btn-2calender-grn {
    width: 80%
}

.ui-body-c .mobile-btn-calender-grn,.ui-body-c .mobile-btn-calender-grn:active,.ui-body-c .mobile-btn-calender-grn:hover,.ui-body-c .mobile-btn-calender-grn:visited {
    padding-right: 0
}

.mobile-sign-calender-grn {
    position: relative;
    top: -45px;
    float: right
}

.mobile-div-assigner-grn span {
    display: inline-block
}

.mobile-div-assigner-grn .ui-btn {
    margin-top: 0;
    margin-bottom: 0
}

.mobile-btn-assigner-grn {
    border-radius: 4px;
    padding: .6em 20px
}

.ui-body-c .mobile-btn-assigner-grn,.ui-body-c .mobile-btn-assigner-grn:active,.ui-body-c .mobile-btn-assigner-grn:hover,.ui-body-c .mobile-btn-assigner-grn:visited {
    color: #333
}

.mobile-btn-assigner-grn.ui-shadow {
    box-shadow: none
}

.mobile-btn-assigner-grn .ui-btn {
    display: inline-block
}

.mobile-li-PersonInCharge-grn {
    clear: both
}

.ui-content .mobile-li-PersonInCharge-grn {
    margin-top: 0
}

.mobile-li-PersonInCharge-grn .ui-btn {
    border-bottom: none
}

.mobile-showContent-grn.ui-btn {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding: .6em 20px .6em 40px
}

.ui-body-c .mobile-showContent-grn,.ui-body-c .mobile-showContent-grn:active,.ui-body-c .mobile-showContent-grn:hover,.ui-body-c .mobile-showContent-grn:visited {
    color: #333
}

.mobile-showContent-grn.ui-shadow {
    box-shadow: none
}

.mobile-showContent-grn .ui-icon {
    background: 0 0;
    padding-top: 2px
}

.ui-icon-arrow-u::after {
    background: url(/assets/mobile/img/arrow_up_b.png) no-repeat center center;
    background-size: 16px 16px
}

.ui-icon-arrow-d::after {
    background: url(/assets/mobile/img/arrow_down_b.png) no-repeat center center;
    background-size: 16px 16px
}

.mobile-check-noTerm-grn {
    position: relative;
    top: 10px;
    float: right
}

.mobile-check-noTerm-grn span {
    display: inline-block;
    vertical-align: middle
}

.mobile-div-buttonSelectAttach-grn {
    margin-top: 20px
}

.mobile-frame-message-grn {
    background-color: #f2f2f3;
    background-image: none;
    margin: 15px;
    width: 250px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,.3)
}

.mobile-bigicon-error-grn {
    background: url(/assets/mobile/img/attention.png) no-repeat 0 0;
    display: inline-block;
    height: 40px;
    width: 40px;
    vertical-align: -12px;
    background-size: 40px 40px;
    padding-bottom: 10px;
    padding-right: 10px
}

.mobile-select-grn .mobile_select_grn .ui-select {
    width: 100%
}

.mobile-narrowdownsearch-selectchoice-grn .ui-br {
    border: none
}

.mobile-radiospace-fieldset-grn .ui-radio {
    margin: 0
}

.mobile-radiospace-fieldset-grn .ui-radio .ui-btn-hover-c,.mobile-radiospace-fieldset-grn .ui-radio .ui-btn-up-c {
    border: none;
    background: 0 0
}

.mobile-radiospace-fieldset-grn .ui-radio.ui-btn-icon-left .ui-btn-inner {
    padding-left: 0
}

.mobile-radiospace-fieldset-grn .ui-radio label {
    border: none;
    padding-left: 30px;
    padding-right: 20px
}

.mobile-radiospace-div-grn .mobile-radiospace-fieldset-grn {
    margin-top: 0;
    margin-bottom: 0
}

.mobile-radiospace-div-grn .ui-controlgroup-horizontal .ui-radio .ui-btn-inner {
    padding-top: 0;
    padding-bottom: 0
}

.mobile-radiospace-div-grn .ui-controlgroup .ui-radio label {
    font-size: 15px;
    height: 22px;
    display: block
}

.mobile-radiospace-fieldset-grn .ui-radio .ui-btn-icon-left .ui-icon {
    left: 0;
    width: 32px;
    height: 32px;
    margin-top: -17px;
    margin-left: 3px;
    position: absolute;
    top: 50%;
    background: 0 0
}

.ui-page-theme-a .mobile-radiospace-fieldset-grn .ui-btn.ui-btn-active {
    color: #333;
    text-shadow: none
}

.mobile-radiospace-fieldset-grn .ui-radio .ui-radio-on {
    background: url(/assets/mobile/img/radiobutton_on.png) no-repeat 0 center;
    background-size: 22px 22px
}

.mobile-radiospace-fieldset-grn .ui-radio .ui-radio-off {
    background: url(/assets/mobile/img/radiobutton_off.png) no-repeat 0 center;
    background-size: 22px 22px
}

.ui-radio .mobile-radio-grn {
    left: 15px!important;
    visibility: hidden
}

.mobile-btn-left-grn {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 6px 0 0 10px;
    vertical-align: top
}

.mobile-btn-left-grn.ui-shadow {
    box-shadow: none;
    border: none
}

.mobile-btn-left-grn span {
    border-radius: 4px;
    vertical-align: -1px;
    margin: 0
}

.mobile-btn-left-grn.ui-btn-hover-c {
    border: none;
    background-color: #fff
}

.mobile-top-listview-grn {
    margin-top: 20px!important
}

.mobile-bottom-listview-grn {
    margin-bottom: 15px!important
}

.mobile-content-style-grn {
    padding: 0
}

.mobile-content-padding-grn {
    padding: 0
}

.mobile-content-padding-top-grn {
    padding-top: 0
}

.mobile-padding-leftright-grn {
    padding-left: 15px;
    padding-right: 15px
}

.mobile-font-normal-grn {
    font-weight: 400;
    word-wrap: break-word
}

.mobile-font-warp-grn {
    white-space: normal
}

.mobile-margin-ul-grn {
    margin-top: 14px
}

.mobile-btn-list-grn {
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px
}

.mobile-btn-list-grn * {
    vertical-align: middle
}

.mobile-btn-list-grn .ui-btn {
    font-size: 16px;
    padding: .6em 20px;
    min-width: .75em;
    display: block;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    zoom:1;color: #333
}

.mobile-btn-list-grn .ui-btn:hover {
    color: #333
}

.mobile-input-grn {
    position: absolute;
    top: -15px;
    left: -20px;
    z-index: -1
}

.mobile-a-ellipsis-grn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.mobile-commentLink-todo-grn .mobile-a-ellipsis-grn span {
    vertical-align: middle
}

.mobile-button-disable-grn a {
    background-color: #dadada!important;
    background-image: -webkit-linear-gradient(top,#ededed,#dadada)!important;
    color: #999;
    border-color: #bbb!important
}

.ui-listview .ui-li-icon {
    left: 32px;
    top: .55em
}

.mobile_comment_list_grn .ui-listview>.ui-li-static {
    padding: .9em 25px .9em 15px
}

.mobile_comment_action_base_grn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    position: relative;
    top: 4px
}

.mobile_comment_action_right_grn {
    margin-left: 10px
}

.mobile_comment_action_base_grn .mobile_float_right_grn {
    margin-top: 2px
}

.mobile-favourLink-grn,.mobile_comment_action_grn {
    text-decoration: none;
    font-size: 14px
}

.mobile-favourLink-grn span,.mobile_comment_action_grn span {
    font-size: 14px
}

.icon_reaction_sub_grn {
    background: url(/assets/mobile/img/reaction_s_b_sub.png) no-repeat left center
}

.mobile_icon_reply_sub_grn {
    background: url(/assets/mobile/img/reply_s_b_sub.png) no-repeat left center
}

.mobile_icon_reply_all_sub_grn {
    background: url(/assets/mobile/img/reply_all_s_b_sub.png) no-repeat left center
}

.mobile_icon_trash_sub_grn {
    background: url(/assets/mobile/img/trash_s_b_sub.png) no-repeat left center
}

.icon_reaction_sub_grn,.mobile_icon_reply_all_sub_grn,.mobile_icon_reply_sub_grn,.mobile_icon_trash_sub_grn {
    white-space: nowrap;
    display: inline-block;
    height: 16px;
    padding-left: 20px;
    background-size: 16px 16px
}

.mobile_comment_action_right_grn .mobile_icon_trash_sub_grn {
    position: relative;
    top: 2px
}

.mobile_comment_action_spinner_grn {
    position: absolute;
    margin-top: -10px;
    margin-left: -18px
}

.mobile-bodyTextSummary-grn .ui-btn,.mobile-li-PersonInCharge-grn .ui-btn {
    padding: 14px 50px 14px 15px
}

.mobile-li-PersonInCharge-grn .ui-btn {
    padding-right: 25px
}

#member_list .ui-li .ui-btn-inner a.ui-link-inherit,#member_list .ui-li-static.ui-li {
    padding-top: .3em
}

.ui-radio .ui-btn-inner {
    padding-right: 15px
}

.errorBase-grn {
    text-align: left;
    margin: 0 auto;
    display: inline-block
}

.errorBase-grn div {
    word-wrap: break-word;
    word-break: break-all
}

.errorBase-grn .mobile-label-small-grn {
    margin-top: .9em
}

.borderPartitionSub-grn {
    margin: 5px 0;
    border-top: 1px dashed #ccc
}

.ui-content .mobile-todoBodyText-grn .ui-listview {
    margin-top: 0
}

.mobile-todoBodyText-grn .mobile-font-warp-grn,.mobile_for_totalnumber_grn .mobile-font-warp-grn {
    font-weight: 400;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.mobile-todoBodyText-grn .mobile-font-warp-grn {
    margin-left: 10px;
    width: 84%
}

.mobile_for_totalnumber_grn {
    float: left;
    width: 84%;
    min-height: 16px
}

.forTotalNumber-grn {
    float: left
}

.totalNumber-grn {
    display: inline-block;
    min-width: 25px;
    float: right;
    position: absolute;
    top: 50%;
    right: 32px;
    margin-right: 5px;
    margin-top: -11px;
    padding: 1px 2px;
    background-color: #999;
    border-radius: 4px;
    font-weight: 700;
    text-shadow: none;
    color: #fff;
    font-size: 95%;
    text-align: center
}

.mobile_total_number_sub_grn {
    display: inline-block;
    min-width: 16px;
    padding: 1px 2px;
    background-color: #999;
    border-radius: 4px;
    font-weight: 700;
    text-shadow: none;
    color: #fff;
    font-size: 12px;
    text-align: center
}

.mobile-addCommentDisable-grn {
    margin-bottom: 15px
}

.mobile-checkIcon-grn {
    background: url(/assets/mobile/img/check.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: 0;
    background-size: 20px 20px
}

.ui-listview>.mobile-showMore-grn.ui-li-static {
    border: 0;
    padding: .9em 15px;
    margin: 0;
    border-bottom: 1px solid #ccc
}

.ui-page-theme-a .mobile-showMore-grn div,.ui-page-theme-a .mobile-showMore-grn div:hover {
    border: 1px solid #c9c9c9;
    background-color: #fff;
    text-shadow: none;
    color: #51a1db;
    border-radius: 4px;
    box-shadow: none;
    height: 40px;
    line-height: 40px
}

.ui-page-theme-a .mobile-showMore-grn .ui-btn:hover {
    background-color: #cce4f1
}

.mobile-showMore-grn div {
    font-weight: 700;
    text-align: center
}

.mobile-showMore-grn .ui-btn-up-c:active {
    background: #eee
}

.mobile-showMore-grn input:focus {
    outline: 0
}

.mobile_notification_showMore_grn .mobile-showMore-grn .ui-btn-up-c:active {
    background: 0 0;
    color: #e54b00
}

#ul_comment_list>.mobile-showMore-grn.ui-li-static,#ul_discussion_comment_list>.mobile-showMore-grn.ui-li-static {
    border-top: 1px solid #c9c9c9;
    padding-left: 30px;
    padding-right: 30px
}

#ul_member_list>.mobile-showMore-grn.ui-li-static {
    border-top: 1px solid #c9c9c9
}

.mobile_notification_showMore_grn .mobile-showMore-grn.ui-li-static {
    border-bottom-style: none
}

.mobile-bottom-listview-member-grn .ui-last-child {
    border-bottom-style: none
}

.mobile-label-grn,.mobile-label-small-grn,.mobile_delete_confirm_grn .mobile_delete_confirm_texttitle_grn,.mobile_error_grn .mobile_error_texttittle_grn,.mobile_mailtotext_grn,.mobile_title_grn {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2
}

.mobile-label-small-grn .mobile_text_normal_grn {
    color: #333;
    font-size: 16px
}

.mobile_balloon_grn {
    margin: 16px -5px 0 -5px;
    background-color: #eee;
    font-size: 14px;
    color: #666;
    text-align: center;
    text-shadow: none;
    padding: 32px 0;
    border-radius: 4px
}

.mobile_balloon_down_grn .mobile_triangle_grn {
    width: 0;
    height: 0;
    border-width: 14px 8px 0 8px;
    border-style: solid dashed dashed dashed;
    border-color: #eee transparent transparent transparent;
    margin: 0 auto
}

.mobile_balloon_icon_grn {
    margin: 10px 0 16px 0
}

.mobile_balloon_icon_grn div {
    width: 30px;
    height: 30px;
    margin: 0 auto
}

.mobile_app_mail_b_grn {
    background: url(/assets/mobile/img/app_mail_b.png) no-repeat center;
    background-size: 30px 30px
}

.mobile_app_message_b_grn {
    background: url(/assets/mobile/img/app_message_b.png) no-repeat center;
    background-size: 30px 30px
}

.mobile_app_notification_b_grn {
    background: url(/assets/mobile/img/app_notify_b.png) no-repeat center;
    background-size: 30px 30px
}

.mobile_app_schedule_b_grn {
    background: url(/assets/mobile/img/app_schedule_b.png) no-repeat center;
    background-size: 30px 30px
}

.mobile_app_space_b_grn {
    background: url(/assets/mobile/img/app_space_b.png) no-repeat center;
    background-size: 30px 30px
}

.mobile_search_b_grn {
    background: url(/assets/mobile/img/search_b.png) no-repeat center;
    background-size: 30px 30px
}

.mobile_information_b_grn {
    background: url(/assets/mobile/img/information_b.png) no-repeat center;
    background-size: 30px 30px
}

.mobile_app_bulletin_s_b_grn {
    background: url(/assets/mobile/img/app_bulletin_s_b.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_app_mail_s_b_grn {
    background: url(/assets/mobile/img/app_mail_s_b.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_app_message_s_b_grn {
    background: url(/assets/mobile/img/app_message_s_b.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_app_notification_s_b_grn {
    background: url(/assets/mobile/img/app_notify_s_b.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_app_report_s_b_grn {
    background: url(/assets/mobile/img/app_report_s_b.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_app_schedule_s_b_grn {
    background: url(/assets/mobile/img/app_schedule_s_b.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_app_space_s_b_grn {
    background: url(/assets/mobile/img/app_space_s_b.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_app_workflow_s_b_grn {
    background: url(/assets/mobile/img/app_workflow_s_b.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_titlebar_div_grn {
    margin: 10px;
    box-shadow: 0 0 5px 0 #888;
    position: absolute;
    top: 0;
    z-index: 1000
}

.mobile_select_menu_titlebar_div_grn {
    box-shadow: 0 0 5px 0 #888;
    top: 0
}

.mobile-content-grn {
    padding-bottom: 0;
    padding-top: 0
}

.mobile_select_menu_titlebar_div_grn .mobile_titlebar_grn,.mobile_titlebar_div_grn .mobile_titlebar_grn {
    margin: 0
}

.mobile_select_menu_titlebar_div_grn .mobile_titlebar_grn .mobile_text_grn,.mobile_titlebar_div_grn .mobile_titlebar_grn .mobile_text_grn {
    margin-left: 8px
}

.mobile_select_menu_titlebar_div_grn .mobile_ul_grn,.mobile_titlebar_div_grn .mobile_ul_grn {
    overflow: auto;
    background-color: #fff;
    -webkit-overflow-scrolling: touch
}

.mobile_select_menu_titlebar_div_grn .ui-li,.mobile_titlebar_div_grn .ui-li,.ui-li.ui-field-contain {
    border-top: none
}

.ui-popup-container {
    left: 10px!important;
    right: 10px!important;
    max-width: none!important
}

.mobile_breadcrumb_margin_grn {
    height: 10px
}

.mobile_titlebar_content_withList_grn {
    margin-left: -15px;
    margin-right: -15px
}

.mobile_titlebar_grn .mobile_titlebar_right_grn {
    display: inline-block;
    position: absolute;
    right: 8px;
    margin-right: 8px
}

.mobile_titlebar_div_grn .mobile_titlebar_grn .mobile_titlebar_right_grn {
    right: 0
}

.mobile_titlebar_grn .mobile_colse_icon_grn {
    width: 22px;
    height: 35px;
    background: url(/assets/mobile/img/close_sub.png) no-repeat center center;
    background-size: 22px 22px;
    position: absolute;
    top: 0;
    right: 0
}

.mobile_breadcrumbtitle_grn,.mobile_titlebar_normal_grn {
    padding: 0;
    height: 38px;
    background-color: #ebebeb;
    white-space: nowrap
}

.mobile_breadcrumbtitle_left_grn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-left: 8px;
    text-align: left;
    vertical-align: middle;
    position: relative;
    padding-right: 16px
}

.mobile_breadcrumbtitle_left_grn a {
    display: inline-block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #51a1db;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    vertical-align: top;
    text-shadow: none
}

.mobile_left_noArrow_grn {
    margin-right: 10px;
    padding-right: 0
}

.mobile_breadcrumbtitle_left_grn a.mobile_breadcrumbtitle_back_grn {
    width: 30px;
    background: url(/assets/mobile/img/back_title.png) no-repeat center;
    background-size: 22px 22px
}

.ui-body-c .mobile_breadcrumbtitle_left_grn a,.ui-page-theme-a .mobile_breadcrumbtitle_left_grn a {
    font-weight: 700
}

.mobile_breadcrumbtitle_right_grn,.mobile_titlebar_grn {
    display: inline-block;
    width: 58%;
    height: 38px;
    line-height: 38px;
    margin-left: 8px;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
    text-shadow: none;
    color: #666;
    font-weight: 700
}

.mobile_titlebar_grn {
    background-color: #ebebeb;
    text-shadow: none;
    width: 100%;
    position: relative
}

.mobile_titlebar_grn .mobile_text_grn {
    display: block;
    margin-right: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 38px;
    vertical-align: top
}

.mobile_breadcrumbtitle_left_grn span,.mobile_breadcrumbtitle_right_grn span,.mobile_titlebar_grn .mobile_text_grn {
    font-weight: 700
}

.mobile_icon_breadcrumb_arrow_grn {
    background: url(/assets/mobile/img/breadcrumb_arrow.png) no-repeat center;
    background-size: 10px 38px;
    width: 10px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0
}

.mobile_icon_breadcrumb_grn,.mobile_spaceID_breadcrumb_grn,.mobile_titlebar_grn .mobile_title_icon_grn {
    display: inline-block;
    width: 22px;
    height: 38px;
    vertical-align: top;
    margin-right: 5px;
    position: relative
}

.mobile_spaceID_breadcrumb_grn {
    width: auto
}

.mobile_spaceID_breadcrumb_grn img {
    vertical-align: top;
    margin-top: 3px
}

.mobile_breadcrumbtitle_grn .mobile_select_area_div_grn,.mobile_breadcrumbtitle_grn .mobile_updown_div_grn {
    height: 38px;
    width: 92px;
    position: absolute;
    top: 0;
    right: 0
}

.mobile_breadcrumbtitle_grn .mobile_select_area_div_grn {
    width: auto;
    right: 8px
}

.mobile_breadcrumbtitle_grn .mobile_event_menu_content_grn {
    line-height: 26px
}

.ui-body-c .mobile_breadcrumbtitle_grn .mobile_select_view_grn {
    height: 26px;
    margin-top: 5px
}

.ui-body-c .mobile_breadcrumbtitle_grn .mobile_select_view_grn .mobile_select_icon_grn {
    height: 26px
}

.mobile_breadcrumbtitle_grn .mobile_page_up_grn {
    display: inline-block;
    height: 38px;
    width: 22px;
    margin-left: 8px;
    margin-right: 20px;
    background: url(/assets/mobile/img/up.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_breadcrumbtitle_grn .mobile_page_down_grn {
    display: inline-block;
    height: 38px;
    width: 22px;
    background: url(/assets/mobile/img/down.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_notify_num_grn,.mobile_notify_sum_grn {
    display: inline-block;
    position: absolute;
    background-color: #e66154;
    border-radius: 18px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-shadow: none;
    font-weight: 400;
    text-align: center;
    height: 18px;
    min-width: 8px;
    padding: 0 5px
}

.mobile_notification_count_0_grn {
    min-width: 18px;
    padding: 0
}

.mobile_button_area_grn {
    background: rgba(255,255,255,.85);
    margin-top: 20px;
    margin-bottom: 16px
}

.ui-footer-fixed {
    margin-bottom: 0;
    padding-bottom: 0
}

.mobile_button_area_fixed_grn .mobile_button_area_grn {
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    position: fixed;
    left: 0;
    right: 0;
    margin-bottom: 0;
    width: 100%;
    z-index: 1000
}

.mobile-buttonArea-grn {
    margin: 20px -15px 16px
}

.mobile-buttonArea-grn,.mobile_button_area_grn {
    text-align: center
}

.mobile-buttonArea-grn .ui-btn,.mobile_button_area_grn .ui-btn {
    margin: 0
}

.mobile-buttonArea-grn .ui-shadow,.mobile_button_area_grn .ui-shadow,.mobile_select_button_area_grn .ui-shadow {
    box-shadow: none
}

.mobile-buttonArea-grn .ui-btn,.mobile_button_area_grn .ui-btn,.mobile_select_button_area_grn .ui-btn {
    border: none;
    border-radius: 4px;
    min-width: 60px;
    font-weight: 400;
    text-shadow: none;
    height: 44px;
    color: #333
}

.mobile-buttonArea-grn .ui-btn,.mobile_button_area_grn .ui-btn {
    line-height: 44px;
    padding-left: 20px;
    padding-right: 20px
}

.mobile_button_detail_grn .mobile_button_area_grn div.ui-btn {
    padding-left: 0;
    padding-right: 0
}

.mobile_select_button_area_grn .ui-btn {
    line-height: 44px;
    padding: 0
}

.mobile-button-left-grn,.mobile_ok_grn {
    display: inline-block;
    margin-right: 24px
}

.ui-page-theme-a .mobile-buttonMain-grn .ui-btn,.ui-page-theme-a .mobile_btn_with_sub_grn .mobile_ok_sub_normal_grn .ui-btn,.ui-page-theme-a .mobile_ok_grn .ui-btn {
    background-color: #51a1db;
    color: #fff
}

.mobile_div_attendance_grn .mobile-buttonArea-grn .mobile-buttonNormal-grn .ui-btn,.ui-page-theme-a .mobile_button_attention_grn .ui-btn {
    background-color: #e66154;
    color: #fff
}

.ui-page-theme-a .mobile-buttonMain-grn .ui-btn:hover,.ui-page-theme-a .mobile_btn_with_sub_grn .mobile_ok_sub_normal_grn .ui-btn:hover,.ui-page-theme-a .mobile_ok_grn .ui-btn:hover {
    background-color: #3084c1;
    color: #fff;
    border: none
}

.mobile_div_attendance_grn .mobile-buttonArea-grn .mobile-buttonNormal-grn .ui-btn:hover,.ui-page-theme-a .mobile_button_attention_grn .ui-btn:hover {
    background-color: #f44848;
    color: #fff;
    border: none
}

.ui-page-theme-a .mobile_button_delete_grn .mobile-buttonMain-grn .ui-btn,.ui-page-theme-a .mobile_button_delete_grn .mobile_ok_grn .ui-btn {
    background-color: #ddd;
    color: #333
}

.ui-page-theme-a .mobile_button_delete_grn .mobile-buttonMain-grn .ui-btn:hover,.ui-page-theme-a .mobile_button_delete_grn .mobile_ok_grn .ui-btn:hover {
    background-color: #c9c9c9;
    color: #333
}

.mobile-button-right-grn,.mobile_cancel_grn {
    display: inline-block
}

.ui-page-theme-a .mobile-buttonNormal-grn .ui-btn,.ui-page-theme-a .mobile_cancel_grn .ui-btn {
    background-color: #ddd
}

.ui-page-theme-a .mobile-buttonNormal-grn .ui-btn.ui-btn-active,.ui-page-theme-a .mobile-buttonNormal-grn .ui-btn:hover,.ui-page-theme-a .mobile_cancel_grn .ui-btn.ui-btn-active,.ui-page-theme-a .mobile_cancel_grn .ui-btn:hover {
    background-color: #c9c9c9;
    border: none;
    color: #333
}

.mobile_delete_confirm_div_grn .mobile_ok_grn {
    display: inline-block;
    margin-right: 18px
}

.mobile_buttonarea_top_grn {
    border-bottom: 1px solid #c9c9c9
}

.ui-page-theme-a .ui-btn:hover {
    border-bottom: 1px solid #ccc;
    background-color: transparent
}

.mobile_attendance_userList_div_grn:active,.ui-page-theme-a .ui-btn:active {
    background-color: #f3f3f3
}

.ui-page-theme-a .ui-btn:active {
    border-bottom: 1px solid #ccc
}

.mobile-textspace-unread-grn .ui-btn:hover {
    background-color: #fff
}

.mobile-textspace-unread-grn .ui-btn:active {
    background-color: #f3f3f3
}

.ui-listview>.ui-li-divider,.ui-listview>.ui-li-static,.ui-listview>li>a.ui-btn {
    border-top-width: 0;
    border-bottom: 1px solid #ccc
}

.mobile-li-PersonInCharge-grn.ui-listview>li>a.ui-btn {
    border-bottom: 0
}

.ui-page-theme-a .ui-btn.ui-btn-active {
    background-color: #f3f3f3;
    color: #333;
    text-shadow: none
}

.ui-page-theme-a .ui-radio .ui-btn,.ui-page-theme-a .ui-radio .ui-btn.ui-btn-active,.ui-page-theme-a .ui-radio .ui-btn:hover {
    background-color: transparent;
    border: none
}

.mobile-contentSubButton-grn .ui-btn-hover-c,.ui-select .ui-btn-hover-c {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #eee
}

.ui-btn-up-c {
    background: #fff;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    border-left: 0;
    text-shadow: none
}

.mobile-attachmentButton-grn .ui-btn {
    background-color: #fff
}

.mobile-attachmentButton-grn .ui-btn,.mobile-attachmentButton-grn .ui-btn:hover,.mobile-attachmentButton-grn .ui-btn:visited,.mobile-btn-list-grn .ui-btn,.mobile-btn-list-grn .ui-btn:hover,.mobile-btn-list-grn .ui-btn:visited,.mobile-contentSubButton-grn .ui-btn,.mobile-contentSubButton-grn .ui-btn:hover,.mobile-contentSubButton-grn .ui-btn:visited,.mobile_select_grn .ui-select .ui-btn,.ui-page-theme-a .mobile-btn-list-grn .ui-btn:visited,.ui-select .ui-btn,.ui-select .ui-btn:hover,.ui-select .ui-btn:visited {
    border: 1px solid #b0b0b0;
    text-shadow: none
}

.mobile-attachmentButton-grn .ui-btn {
    padding: .6em 20px
}

.mobile-attachmentButton-grn .ui-btn * {
    vertical-align: middle
}

.mobile-attachmentButton-grn .ui-btn:active,.mobile-btn-list-grn .ui-btn:active,.mobile-contentSubButton-grn .ui-btn:active,.ui-page-theme-a .mobile-btn-list-grn .ui-btn:active,.ui-select .ui-btn:active {
    border: 1px solid #ccc
}

.mobile-selectAttachment-grn .mobile-contentSubButton-grn .ui-btn {
    border: 0
}

.mobile-attachmentButton-grn .ui-btn-hover-c {
    border: 1px solid #ccc;
    background: #eee
}

.mobile-contentSubButton-grn .ui-btn-up-c,.ui-select .ui-btn-up-c {
    border-radius: 4px
}

.mobile-attachmentButton-grn .ui-btn.ui-corner-all,.mobile-btn-list-grn .ui-btn.ui-corner-all {
    border-radius: 16px
}

.ui-btn-active {
    background: #ddd;
    background-image: none;
    color: #000
}

.ui-btn-active a.ui-link-inherit {
    color: #000
}

.mobile-newComment-grn,.mobile-textspace-unread-grn,.ui-page-theme-a .mobile-bodyTextSummary-grn .mobile-comment-unread-grn .ui-btn,.ui-page-theme-a .mobile-bodyTextSummary-grn .mobile-comment-unread-grn .ui-btn:hover,.ui-page-theme-a .mobile-list-unread-grn.ui-body-inherit {
    background: #fcf4e1;
    border: 1px solid #e8c47c
}

.mobile-btn-list-grn .ui-btn-up-c .ui-btn-inner:hover {
    background: #ebebeb
}

.mobile-btn-list-grn .ui-btn-up-c .ui-btn-inner {
    background: #fff
}

.mobile_button_style_off_grn {
    display: inline-block;
    font-size: 16px;
    overflow: visible;
    position: relative;
    text-align: left;
    text-overflow: clip;
    white-space: nowrap
}

button.mobile_button_style_off_grn {
    width: auto
}

.mobile_button_style_off_grn,.ui-page-theme-a .mobile_button_style_off_grn,.ui-page-theme-a .mobile_button_style_off_grn:visited,html .ui-bar-a .mobile_button_style_off_grn,html .ui-bar-a .mobile_button_style_off_grn:visited,html .ui-body-a .mobile_button_style_off_grn,html .ui-body-a .mobile_button_style_off_grn:visited,html body .ui-group-theme-a .mobile_button_style_off_grn,html body .ui-group-theme-a .mobile_button_style_off_grn:visited {
    background: 0 0;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    color: #51a1db;
    font-weight: 400
}

.ui-page-theme-a .mobile_button_style_off_grn:hover,html .ui-bar-a .mobile_button_style_off_grn:hover,html .ui-body-a .mobile_button_style_off_grn:hover,html body .ui-group-theme-a .mobile_button_style_off_grn:hover {
    background: 0 0;
    border: 0;
    color: #51a1db;
    text-shadow: none
}

.ui-page-theme-a .mobile_button_style_off_grn:active,html .ui-bar-a .mobile_button_style_off_grn:active,html .ui-body-a .mobile_button_style_off_grn:active,html body .ui-group-theme-a .mobile_button_style_off_grn:active {
    color: #e54b00
}

.ui-page-theme-a .mobile_button_style_off_grn:focus,html .ui-bar-a .mobile_button_style_off_grn:focus,html .ui-body-a .mobile_button_style_off_grn:focus,html body .ui-group-theme-a .mobile_button_style_off_grn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.ui-page-theme-a .mobile_button_style_off_grn:hover {
    border-bottom: 0
}

.mobile_select_button_area_grn {
    border-top: 1px solid #c9c9c9;
    position: relative;
    top: -1px
}

.mobile_select_button_area_grn .ui-btn {
    border: none;
    color: #444;
    font-weight: none;
    text-shadow: none;
    border-radius: 4px;
    width: 100%;
    height: 44px;
    margin: 10px 0;
    background-color: #ddd
}

.mobile_select_button_area_grn .ui-btn-inner {
    height: 44px
}

.mobile_select_button_area_grn .ui-btn:hover {
    border: none;
    border-radius: 4px;
    width: 100%;
    text-shadow: none;
    height: 44px;
    margin: 10px 0;
    background-color: #c9c9c9
}

.mobile_select_button_area_grn .mobile_cancel_grn {
    padding: 0 10px;
    display: block;
    position: relative;
    background-color: #fff
}

.ui-body-c .mobile_select_view_grn {
    display: block;
    position: relative;
    height: 30px;
    margin-top: 3px;
    background-color: #fff;
    border: 1px solid #b0b0b0;
    padding: 0 30px 0 4px;
    line-height: 30px;
    font-size: 14px;
    color: #222;
    vertical-align: top;
    border-radius: 4px
}

.mobile_select_control_grn .mobile_select_view_grn {
    margin-top: 0
}

.mobile_select_control_grn .mobile_event_menu_content_grn,.mobile_select_short_view_grn span,.mobile_user_group_grn .mobile_event_menu_content_grn {
    font-size: 14px
}

.ui-body-c .mobile_select_short_view_grn {
    display: inline-block
}

.mobile_text_grn .mobile_select_short_view_grn {
    margin-top: 9px;
    margin-right: 16px
}

.ui-body-c .mobile_select_view_grn:hover {
    color: #222
}

.ui-body-c .mobile_select_view_grn:active {
    color: #222;
    background-color: #f6f6f6
}

.ui-body-c .mobile_select_view_grn .mobile_select_icon_grn {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    background: url(/assets/mobile/img/arrow_down_select.png) no-repeat center center;
    background-size: 16px 16px
}

.ui-body-c .mobile_select_view_grn .mobile_event_menu_grn {
    display: inline-block;
    width: 22px;
    height: 30px;
    margin-right: 4px;
    position: absolute
}

.ui-body-c .mobile_select_view_grn .mobile_event_menu_grn span {
    display: block;
    margin: 4px 0;
    width: 22px;
    height: 22px
}

.mobile_select_view_grn .mobile_event_menu_grn+.mobile_event_menu_content_grn {
    margin-left: 26px
}

.mobile_event_menu_content_grn {
    margin-left: 0;
    margin-right: 0;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block
}

.mobile_select_grn {
    margin: 0;
    margin-top: 3px;
    padding: 0;
    border: none;
    height: 30px
}

.mobile_select_grn .ui-btn {
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    border: none
}

.mobile_select_grn .ui-btn span {
    line-height: 30px;
    font-weight: 400;
    overflow: visible;
    font-size: 14px;
    text-align: left
}

.mobile_select_grn .ui-icon-carat-d::after {
    width: 16px;
    height: 16px;
    background: url(/assets/mobile/img/arrow_down_select.png) no-repeat center center;
    background-size: 16px 16px;
    margin-top: -8px
}

.mobile_select_grn .ui-select .ui-btn {
    background-image: none;
    background-color: #fff;
    text-shadow: none
}

.mobile_select_grn .ui-select .ui-btn:hover {
    background-color: #fff
}

.mobile_select_grn .ui-select .ui-btn:active {
    color: #222;
    background-color: #f6f6f6;
    text-shadow: none
}

.mobile_select_grn .ui-shadow {
    box-shadow: none
}

.mobile_pulldown_user_incremental_search_grn {
    display: block;
    position: absolute;
    margin: 0;
    top: 53px;
    left: 11px;
    right: 56px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    z-index: 100
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_scroll_grn {
    position: relative;
    margin: 0
}

.mobile_pulldown_user_incremental_search_grn .mobile_userselect_space_grn {
    position: absolute;
    height: 100%;
    width: 45px;
    background-color: rgba(255,255,255,.85);
    right: -45px;
    top: 0
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_scroll_grn .mobile_user_list_grn {
    margin: 0 -1px
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn {
    border: 1px solid #c9c9c9;
    margin: 0 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.mobile_pulldown_user_incremental_search_grn .mobile-user-list-none-grn .mobile_user_list_grn {
    height: auto
}

.mobile_pulldown_user_incremental_search_grn .mobile_seletedUser_list_none_grn .mobile_user_list_grn {
    background-color: #fafafa
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile-user-none-grn {
    line-height: 44px;
    font-size: 14px;
    color: #666;
    border-bottom: none;
    padding-right: 15px
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .ui-btn,.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .ui-li-static,.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .ui-link-inherit {
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding-left: 5px;
    height: 44px
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_add_grn,.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_info_grn,.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_user_photo_grn {
    display: inline-block
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_selected_grn .mobile_user_photo_grn {
    margin-left: 42px
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_user_photo_grn {
    width: 35px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_delete_grn {
    width: 22px;
    height: 44px;
    background: url(/assets/mobile/img/delete_sub.png) no-repeat center center;
    background-size: 22px 22px;
    margin-right: 16px;
    position: absolute;
    top: 0;
    left: 15px
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_info_grn {
    vertical-align: top;
    height: 44px;
    margin-left: 2px;
    line-height: 1.2;
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_info_grn .mobile_position_center_grn {
    height: 44px;
    display: table;
    width: 100%;
    overflow: hidden;
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_info_grn .mobile_position_width_grn {
    display: table-cell;
    width: 100%;
    vertical-align: middle
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .ui-btn {
    background-color: #fff;
    border-bottom: none
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .ui-btn:hover {
    border-bottom: none
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .ui-btn:active {
    background-color: #f3f3f3;
    border-bottom: none
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_selected_user_grn {
    background-color: #cce4f1
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_user_grn {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mobile_pulldown_user_incremental_search_grn .mobile_user_list_grn .mobile_text_grn {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mobile_pulldown_user_incremental_search_grn .ui-li .ui-btn-inner a.ui-link-inherit {
    padding-left: 5px
}

.mobile_pulldown_user_incremental_search_grn .ui-li {
    border-top: none
}

.mobile-tab-grn,.mobile_button_group_li_grn .mobile_button_group_item_grn,.mobile_schedulelist_menu_grn .ui-link,.mobile_schedulelist_menu_grn span,.mobile_selected_grn span,.mobile_unselected_grn a.ui-link {
    font-size: 14px
}

.mobile-tab-grn {
    padding: 15px 4px 15px 0;
    text-align: center;
    white-space: nowrap;
    margin: 0 -5px
}

.mobile_left_grn,.mobile_right_grn {
    display: inline-block;
    height: 30px;
    width: 50%;
    vertical-align: top
}

.mobile_left_grn,.mobile_right_grn,.mobile_schedulelist_menu_grn .ui-grid-b .ui-block-a,.mobile_schedulelist_menu_grn .ui-grid-b .ui-block-b,.mobile_schedulelist_menu_grn .ui-grid-b .ui-block-c {
    margin: 0 auto;
    text-align: center;
    text-shadow: none;
    font-weight: 400
}

.mobile_left_grn,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-a .mobile_schedulelist_menuhover_grn,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-a .ui-link {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.mobile_right_grn,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-c .mobile_schedulelist_menuhover_grn,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-c .ui-link {
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.mobile_left_grn,.mobile_right_grn,.ui-body-c .mobile_schedulelist_menu_grn .mobile_schedulelist_menuhover_grn,.ui-body-c .mobile_schedulelist_menu_grn .ui-link {
    border: 1px solid #51a1db
}

.mobile_button_group_li_grn .mobile_button_group_item_grn:hover,.mobile_schedulelist_menu_grn .ui-block-a>.ui-link:hover,.mobile_schedulelist_menu_grn .ui-block-b>.ui-link:hover,.mobile_schedulelist_menu_grn .ui-block-c>.ui-link:hover,.mobile_unselected_grn:hover {
    background-color: #eee
}

.mobile_schedulelist_menu_grn .mobile_schedulelist_menuhover_grn,.mobile_schedulelist_menu_grn .ui-link,.mobile_unselected_grn a.ui-link {
    text-decoration: none;
    display: block
}

.mobile_button_group_li_grn .mobile_button_group_item_grn,.mobile_unselected_grn a.ui-link:hover,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-a .ui-link:hover,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-b .ui-link:hover,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-c .ui-link:hover {
    color: #51a1db
}

.mobile_button_group_li_grn .mobile_button_group_item_grn {
    background-color: #fff;
    width: 100%
}

.mobile_button_group_li_grn .mobile_button_group_item_select_grn,.mobile_button_group_li_grn .mobile_button_group_item_select_grn:hover,.mobile_selected_grn,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-a .mobile_schedulelist_menuhover_grn,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-b .mobile_schedulelist_menuhover_grn,.ui-body-c .mobile_schedulelist_menu_grn .ui-block-c .mobile_schedulelist_menuhover_grn {
    background-color: #51a1db;
    color: #fff;
    box-shadow: 0 1px 0 0 #3084c1 inset;
    text-decoration: none
}

.mobile_schedulelist_menu_grn .ui-link,.mobile_schedulelist_menu_grn span,.mobile_selected_grn span,.mobile_unselected_grn a.ui-link {
    display: block;
    line-height: 30px
}

.mobile_button_group_ul_grn {
    margin: 0;
    padding: 0
}

.mobile_button_group_li_grn {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block
}

.mobile_button_group_li_grn .mobile_button_group_item_grn {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1.2;
    text-decoration: none;
    white-space: nowrap;
    text-align: center
}

.mobile_button_group_li_grn .mobile_button_group_item_grn span {
    font-size: 14px
}

.mobile_button_group_li_grn .mobile_button_group_item_grn,.mobile_button_group_li_grn .mobile_button_group_item_grn:hover,.mobile_button_group_li_grn .mobile_button_group_item_select_grn,.mobile_button_group_li_grn .mobile_button_group_item_select_grn:hover {
    border: 1px solid #51a1db
}

.mobile_button_group_li_grn .mobile_button_group_item_grn,.mobile_button_group_li_grn .mobile_button_group_item_grn:hover {
    border-left-width: 0
}

.mobile_button_group_ul_grn .mobile_button_group_li_grn:first-child .mobile_button_group_item_grn {
    border-left-width: 1px
}

.mobile_button_group_ul_grn .mobile_button_group_li_grn:first-child .mobile_button_group_item_grn {
    border-radius: 4px 0 0 4px
}

.mobile_button_group_ul_grn .mobile_button_group_li_grn:last-child .mobile_button_group_item_grn {
    border-radius: 0 4px 4px 0
}

.notification_filter_base_grn .mobile_button_group_item_grn {
    font-weight: 400
}

.mobile_notification_filter_base_grn .mobile_navi_viewchange_grn {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.mobile_button_group_base_grn {
    width: 100%
}

.mobile_button_group_base_right_grn {
    margin-left: 16px;
    text-align: right
}

.mobile_notification_filter_base_grn .mobile_button_group_li_grn {
    width: 60%
}

.mobile_notification_filter_base_grn .mobile_button_group_base_right_grn .mobile_button_group_li_grn {
    width: 40%
}

.mobile_schedulelist_menu_grn {
    margin: 16px 0;
    padding: 0
}

.mobile_delete_confirm_grn {
    display: block
}

.mobile_titlebar_div_grn .mobile_delete_confirm_grn {
    margin: 0 15px
}

.mobile-content-padding-grn .mobile_delete_confirm_grn {
    padding: 10px 15px 20px
}

.mobile_delete_confirm_grn span {
    display: block;
    margin-top: 8px;
    font-size: 16px
}

.mobile_delete_confirm_grn span.mobile_text_grn {
    margin-top: 0
}

.mobile_delete_confirm_grn span span {
    display: inline-block
}

.mobile_delete_confirm_grn .mobile_delete_confirm_text_grn {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 12px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mobile_delete_confirm_grn .mobile_delete_confirm_point_grn {
    margin-bottom: 12px
}

.mobile_icon_attention_grn {
    display: inline-block;
    background: url(/assets/mobile/img/attention.png) no-repeat center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px
}

.mobile_error_grn {
    text-shadow: none;
    margin: 0 8px 0 8px;
    display: block;
    text-align: left
}

.mobile_error_grn span {
    display: block;
    margin-top: 8px;
    font-size: 16px
}

.mobile_error_grn .mobile_error_text_grn {
    margin-top: 0;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    font-size: 16px
}

.mobile_error_grn .mobile_error_texttittle_grn {
    white-space: pre-wrap
}

.mobile_error_grn span span {
    display: inline-block
}

.mobile_error_div_grn .mobile_error_border_partition_grn {
    border-top: 1px solid #c9c9c9;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 10px 8px 10px 0
}

.mobile_error_div_grn .mobile_error_main_grn {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 14px;
    word-wrap: break-word
}

.mobile_error_div_grn h3,.mobile_error_div_grn p {
    white-space: pre-wrap;
    margin: 15px 0
}

.mobile_error_div_grn p {
    font-size: 12px
}

.mobile_error_div_grn .mobile_error_label_grn {
    line-height: 1.2;
    margin: 16px 0 2px 0;
    padding: 0;
    font-size: 110%;
    font-weight: 700;
    color: #000
}

.mobile_error_div_grn .mobile_error_backtrace_grn {
    background: #eef;
    border: 1px solid #66f;
    padding: 5px;
    line-height: 1.2;
    border-radius: 4px;
    word-wrap: break-word
}

.mobile_error_div_grn .mobile_error_scroll_grn {
    position: relative;
    margin: 0;
    max-height: 99%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.mobile_error_div_grn pre {
    font-size: 100%;
    margin: 0
}

.mobile_error_div_grn .mobile_ok_grn {
    width: 100%
}

.mobile_error_div_grn .mobile_button_area_grn {
    margin: 0 15px 0 5px;
    text-align: center
}

.mobile_error_div_grn .mobile_button_area_grn .ui-btn {
    margin: 10px 5px;
    padding: 0;
    width: 100%
}

.mobile_error_div_grn .mobile_ok_grn .ui-btn {
    background-color: #ddd;
    color: #444
}

.mobile_error_div_grn .mobile_ok_grn .ui-btn:hover {
    background-color: #c9c9c9;
    color: #444
}

.mobile_switch_button_grn .mobile_left_grn,.mobile_switch_button_grn .mobile_right_grn {
    display: inline-block;
    border: 1px solid #818181;
    text-shadow: none;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: top
}

.mobile_switch_button_grn .mobile_left_grn {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0
}

.mobile_switch_button_grn .mobile_right_grn {
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.mobile_switch_button_grn .mobile_selected_grn {
    background-color: #818181;
    box-shadow: none;
    box-shadow: 0 1px 0 0 #666 inset
}

.mobile_switch_button_grn .mobile_img_user_on_grn {
    background-image: url(/assets/mobile/img/select_user_on.png);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat
}

.mobile_switch_button_grn .mobile_img_user_off_grn {
    background-image: url(/assets/mobile/img/select_user_off.png);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat
}

.mobile_switch_button_grn .mobile_img_facility_on_grn {
    background-image: url(/assets/mobile/img/select_facility_on.png);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat
}

.mobile_switch_button_grn .mobile_img_facility_off_grn {
    background-image: url(/assets/mobile/img/select_facility_off.png);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat
}

.mobile_img_userPlofile_grn {
    background-image: url(/assets/mobile/img/userPlofile.png);
    background-size: 35px 35px
}

.mobile_img_groupPlofile_grn {
    background-image: url(/assets/mobile/img/groupPlofile.png);
    background-size: 35px 35px
}

.mobile_img_userInvalidPlofile_grn {
    background-image: url(/assets/mobile/img/userInvalidPlofile.png);
    background-size: 35px 35px
}

.mobile_img_userInvalidAppPlofile_grn {
    background-image: url(/assets/mobile/img/userInvalidAppPlofile.png);
    background-size: 35px 35px
}

.mobile_img_facilityPlofile_grn {
    background-image: url(/assets/mobile/img/facilityPlofile.png);
    background-size: 35px 35px
}

.mobile_img_role_profile_grn {
    background-image: url(/assets/mobile/img/role_profile.png);
    background-size: 35px 35px
}

.mobile_img_cal_group_profile_grn {
    background-image: url(/assets/mobile/img/cal_group_profile.png);
    background-size: 35px 35px
}

.mobile_img_userLoginPlofile_grn {
    background-image: url(/assets/mobile/img/userLoginPlofile.png);
    background-size: 35px 35px
}

.mobile_pc_view_btn_grn {
    width: 100%;
    text-align: center;
    margin-bottom: 30px
}

.mobile_pc_view_btn_grn a.ui-link {
    font-weight: 400;
    line-height: 1;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    color: #51a1db;
    padding: 4px;
    display: inline-block;
    margin: 0;
    text-decoration: none
}

.mobile_pc_view_btn_grn a.ui-link:hover {
    background-color: #f3f3f3
}

.mobile_spinner_grn {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1010
}

.mobile_spinner_grn span {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgba(0,0,0,.16);
    background-image: url(/assets/mobile/img/spinner_l.gif);
    background-size: 44px 44px;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    margin: 200px 0 0 -50px;
    border-radius: 16px
}

.mobile_spinner_block_grn,.mobile_spinner_inline_grn {
    display: block;
    line-height: 44px;
    text-align: center
}

.mobile_spinner_inline_grn {
    display: inline-block
}

.mobile_icon_spinner_grn {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(/assets/mobile/img/spinner_l.gif) no-repeat 0 0;
    background-size: 22px 22px;
    vertical-align: middle
}

.mobile_paging_grn {
    height: 40px;
    margin: 4px 0 0
}

.mobile_paging_grn a {
    display: inline-block;
    line-height: 40px;
    vertical-align: top
}

.mobile_paging_grn .mobile_back_first_grn {
    height: 40px;
    width: 22px;
    background: url(/assets/mobile/img/back_first.png) no-repeat center center;
    background-size: 22px 22px;
    margin-left: 10px;
    margin-right: 28px
}

.mobile_paging_grn .mobile_back_grn {
    height: 40px;
    width: 22px;
    background: url(/assets/mobile/img/back.png) no-repeat center center;
    background-size: 22px 22px;
    margin-right: 28px
}

.mobile_paging_grn .mobile_advance_grn {
    height: 40px;
    width: 22px;
    background: url(/assets/mobile/img/advance.png) no-repeat center center;
    background-size: 22px 22px
}

.mobile_paging_grn .mobile_page_text_grn {
    display: inline-block;
    font-size: 14px;
    min-width: 50px;
    height: 40px;
    line-height: 40px;
    margin-left: 24px;
    text-align: center;
    color: #999
}

.mobile_seletedUser_list_grn {
    margin: 10px 0 0;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    background-color: #fff
}

.mobile_schedulelist_search_grn .mobile_seletedUser_list_grn {
    margin: 10px 10px 0
}

.mobile_seletedUser_list_grn .mobile_line_grn {
    background-color: #eee;
    margin: 10px 8px 8px 8px;
    padding: 4px;
    padding-right: 26px;
    position: relative;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.mobile_seletedUser_list_grn .mobile_line_grn a {
    text-decoration: none
}

.mobile_seletedUser_list_grn .mobile_userlines_grn {
    margin-top: 6px
}

.mobile_seletedUser_list_grn .mobile_delete_icon_normal_grn {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    background: url(/assets/mobile/img/form_clear_sub.png) no-repeat center center;
    background-size: 22px 22px
}

.mobile_user_search_grn {
    position: relative;
    margin: 0 8px
}

.mobile_user_search_grn .ui-input-text {
    margin: 0;
    padding: 0
}

.mobile_schedulelist_search_grn .mobile_seletedUser_list_grn .mobile_user_search_grn {
    margin-top: 6px
}

.mobile_user_search_grn .ui-shadow-inset {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.mobile_user_search_grn .ui-body-c {
    border: none;
    margin: 0;
    padding-left: 0;
    padding-right: 32px
}

.mobile_user_search_grn input {
    height: 30px;
    padding: 0!important;
    color: #999;
    border: none!important
}

.mobile_user_search_grn .mobile_icon_grn {
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    background: url(/assets/mobile/img/search_form_select.png) no-repeat center center;
    background-size: 22px 22px
}

.mobile_user_search_grn .mobile_delete_icon_grn {
    position: absolute;
    right: 38px;
    top: 50%;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    background: url(/assets/mobile/img/form_clear_sub.png) no-repeat center center;
    background-size: 22px 22px;
    display: none
}

.mobile_user_search_focus_grn .mobile_icon_grn {
    background: url(/assets/mobile/img/search_form_select.png) no-repeat center center;
    background-size: 22px 22px
}

.ui-icon-searchfield::after,.ui-input-search .ui-input-clear {
    display: none
}

.mobile_schedulelist_search_grn {
    background-color: #ddd;
    padding: 1px 0 11px 0;
    position: relative;
    margin: 0 0 10px
}

.mobile_schedulelist_icon_search_grn .mobile_triangle_grn,.mobile_schedulelist_icon_search_off_grn .mobile_triangle_grn {
    margin: 36px 0 0 7px;
    width: 0;
    height: 0;
    border-top-width: 0;
    border-right-width: 8px;
    border-bottom-width: 14px;
    border-left-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #ddd transparent
}

.mobile_schedulelist_search_grn .ui-body-c {
    margin: 0
}

.mobile_user_search_focus_grn .mobile_delete_icon_grn {
    display: block
}

.mobile_user_search_focus_grn .ui-body-c {
    padding-right: 80px
}

.mobile_user_search_focus_grn input {
    color: #333
}

.mobile_base_disable_grn a,.mobile_base_disable_grn a:active,.mobile_base_disable_grn a:hover,.mobile_base_disable_grn a:link,.mobile_base_disable_grn a:visited,a.mobile_base_disable_grn,a.mobile_base_disable_grn:active,a.mobile_base_disable_grn:hover,a.mobile_base_disable_grn:link,a.mobile_base_disable_grn:visited {
    -moz-opacity: .3;
    -khtml-opacity: .3;
    opacity: .3;
    cursor: default;
    color: #333
}

.mobile_base_disable_grn.ui-btn-hover-c,.mobile_base_disable_grn.ui-btn-up-c {
    background-color: #fafafa;
    text-shadow: none
}

.mobile_button_detail_grn .mobile_button_area_grn .ui-btn {
    margin: 0
}

.mobile_button_detail_grn .mobile_cancel_grn {
    width: 100%
}

.mobile_button_detail_grn .mobile_button_area_grn {
    margin: 0;
    text-align: center
}

.mobile_button_detail_grn .mobile_button_area_grn .ui-btn {
    width: 100%;
    border-radius: 16px
}

.mobile_margin_plus_button_grn {
    margin-top: -1px;
    height: 1px
}

.mobile_btn_with_sub_grn {
    display: inline-block;
    vertical-align: top;
    text-align: left
}

.mobile_btn_with_sub_grn .mobile_ok_grn {
    margin-bottom: 20px
}

.mobile_btn_with_sub_grn .mobile_ok_sub_grn .ui-btn {
    background-color: #fff;
    color: #51a1db
}

.ui-page-theme-a .mobile_btn_with_sub_grn .mobile_ok_sub_grn .ui-btn {
    border: 1px solid #51a1db
}

.mobile_btn_with_sub_grn .mobile_ok_sub_grn .ui-btn:hover {
    background-color: #cce4f1
}

.mobile_box_area_grn {
    padding: 10px 10px 0 26px;
    border: 2px dotted #c9c9c9;
    background-color: #fafafa;
    border-radius: 4px
}

.mobile-content-padding-grn .mobile_box_area_grn {
    margin-right: 15px;
    margin-left: 15px
}

.mobile-content-padding-grn .mobile-cmt-operate-grn .mobile_box_area_grn {
    margin-right: 0;
    margin-left: 0
}

.mobile_box_area_grn .mobile_box_message_attention_grn,.mobile_box_area_grn .mobile_box_message_grn {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
    vertical-align: middle;
    position: relative
}

.mobile_box_area_grn .mobile_box_message_attention_grn span,.mobile_box_area_grn .mobile_box_message_grn span {
    font-size: 14px
}

.mobile_box_message_attention_grn {
    color: #ef9201;
    font-weight: 700
}

.mobile_box_area_grn .mobile_box_linktext_grn {
    display: block;
    position: relative;
    line-height: 1.2;
    padding-left: 16px;
    margin-left: -1px;
    margin-bottom: 10px
}

.mobile_box_area_grn .mobile_icon_listmarks_grn {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/assets/mobile/img/list_mark_s.png) no-repeat 0 0;
    background-size: 16px 16px;
    vertical-align: middle;
    position: absolute;
    top: 2px;
    left: 0
}

.mobile_box_area_grn .mobile_box_linktext_grn .ui-link {
    font-size: 16px;
    line-height: 1.2
}

.mobile_box_area_grn .mobile_contents_detail_grn {
    font-size: 14px
}

.mobile_icon_information_grn {
    background: url(/assets/mobile/img/information_s.png) no-repeat center center
}

.mobile_icon_attentions_grn {
    background: url(/assets/mobile/img/attention_s.png) no-repeat center center
}

.mobile_icon_attentions_grn,.mobile_icon_information_grn {
    width: 16px;
    height: 16px;
    background-size: 16px 16px
}

.mobile_box_area_grn .mobile_icon_attentions_grn,.mobile_box_area_grn .mobile_icon_information_grn {
    display: block;
    position: absolute;
    top: 0;
    left: -20px
}

.mobile_box_area_grn .mobile-list-todoDetail-grn {
    margin-bottom: 10px
}

.mobile_div_attendance_grn {
    margin-top: 15px
}

.mobile_div_attendance_grn .mobile-buttonArea-grn {
    text-align: left;
    margin-left: 0;
    font-size: 0
}

.mobile_div_attendance_grn .mobile_button_sub_width_grn .ui-btn {
    min-width: 60px;
    padding-left: 6px;
    padding-right: 6px
}

.mobile_div_attendance_grn .mobile_iconposition_attentions_grn {
    top: 50%;
    left: 0;
    margin-top: -8px
}

.mobile_div_attendance_grn .mobile_text_information_grn {
    font-size: 14px;
    line-height: 1
}

.mobile_div_attendance_grn .mobile_box_area_grn {
    padding-right: 26px
}

.mobile_div_attendance_grn .mobile-div-title-grn {
    margin-bottom: 10px
}

.mobile_list_icon_attachmentssub_grn {
    background: url(/assets/mobile/img/attachment_s_sub.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    background-size: 16px 16px
}

.mobile_list_icon_repeatssub_grn {
    background: url(/assets/mobile/img/repeat_s_sub.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    background-size: 16px 16px
}

.mobile_list_icon_privatessub_grn {
    background: url(/assets/mobile/img/private_s_sub.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    background-size: 16px 16px
}

.mobile_userlist_sub_grn {
    margin-top: 1px;
    font-size: 12px;
    line-height: 1;
    color: #666
}

.mobile_userlist_date_grn {
    margin-top: 1px;
    font-size: 12px;
    line-height: 1;
    color: #999
}

.mobile-title-todo-grn,.mobile_list_content_grn {
    line-height: 1.4
}

.mobile-title-todo-grn,.mobile_discussion_list_grn .mobile_folderlist_grn .mobile_folderlist_text_overflow_grn,.mobile_list_content_grn,.ui-page-theme-a a.mobile-list-text-short-grn {
    font-size: 17px;
    font-weight: 700
}

.mobile_list_icon_unread_grn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/assets/mobile/img/list_unread.png) no-repeat 0 0;
    background-size: 15px 15px;
    width: 15px;
    height: 15px
}

.mobile_overlay_filter_grn {
    background-color: rgba(255,255,255,.7)
}

.mobile_overlay_wrap_grn {
    margin: 10px 10px 0 10px
}

.mobile_switch_link_grn span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px
}

.mobile_arrow_inline_up_grn {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(/assets/mobile/img/arrow_inline_up.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_arrow_inline_down_grn {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(/assets/mobile/img/arrow_inline_down.png) no-repeat center;
    background-size: 22px 22px
}

.ui-content .mobile_process_history_detail_grn,.ui-content .mobile_wf_progress_state_grn {
    margin: 0;
    padding-bottom: 10px
}

.mobile_process_history_detail_grn>li.ui-li-static,.mobile_wf_progress_state_grn>li.ui-li-static {
    text-shadow: none;
    border: none;
    white-space: normal
}

.mobile_wf_progress_state_grn .mobile_title_grn {
    padding: 10px 0 6px 0;
    text-align: left;
    font-weight: 700;
    color: #666
}

.mobile_process_history_detail_grn .mobile_step_bar_grn,.mobile_wf_progress_state_grn .mobile_bar_grn {
    padding: 3px 10px;
    font-size: 14px;
    background-color: #ddd
}

.mobile_wf_progress_state_grn .mobile_step_bar_grn {
    background-color: #f6c9c5
}

.mobile_process_history_detail_grn .mobile_under_line_grn,.mobile_wf_progress_state_grn .mobile_under_line_grn {
    border-bottom: 1px dashed #c9c9c9
}

.mobile_process_history_detail_grn .mobile_operation_grn,.mobile_wf_progress_state_grn .mobile_operation_grn {
    white-space: nowrap;
    background-color: #f6f6f6;
    padding: 10px 8px
}

.mobile_process_history_detail_grn .mobile_user_grn,.mobile_wf_progress_state_grn .mobile_user_grn {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mobile_process_history_detail_grn .mobile_text_grn,.mobile_wf_progress_state_grn .mobile_text_grn {
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    word-wrap: break-word;
    white-space: pre-wrap
}

.mobile_process_history_detail_grn .mobile_info_grn,.mobile_wf_progress_state_grn .mobile_info_grn {
    display: block;
    width: 98%;
    white-space: normal;
    margin-left: 12px
}

.mobile_process_history_detail_grn .mobile_progress_mark_ok_grn,.mobile_wf_progress_state_grn .mobile_wf_progress_mark_ok_grn {
    border: 2px solid #f05b4c;
    color: #f05b4c;
    font-weight: 700
}

.mobile_process_history_detail_grn .mobile_progress_mark_grn,.mobile_wf_progress_state_grn .mobile_wf_progress_mark_grn {
    border: 1px solid #999
}

.mobile_process_history_detail_grn .mobile_progress_mark_grn,.mobile_process_history_detail_grn .mobile_progress_mark_ok_grn,.mobile_wf_progress_state_grn .mobile_wf_progress_mark_grn,.mobile_wf_progress_state_grn .mobile_wf_progress_mark_ok_grn {
    display: inline-block;
    padding: 2px 10px;
    margin: 0 0 6px;
    background-color: #fff;
    font-size: 14px;
    vertical-align: top;
    text-align: center
}

.mobile_wf_progress_state_grn .mobile_progress_histroy_grn,.mobile_wf_progress_state_grn .mobile_progress_histroy_grn span {
    color: #666;
    font-size: 12px
}

.mobile_wf_progress_state_grn .mobile_progress_histroy_grn {
    border: 1px solid #c9c9c9;
    background-color: #ebebeb;
    margin: 4px 10px 4px 0;
    padding: 4px
}

.mobile_wf_progress_state_grn .mobile_progress_histroy_grn span {
    white-space: pre-wrap
}

.mobile_wf_progress_state_grn .mobile_reject_grn {
    padding: 2px 0;
    border: 2px solid #ef4938;
    display: inline-block;
    color: #ef4938;
    font-size: 12px;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    margin: 7px 7px 0 0;
    min-width: 60px
}

.mobile_process_history_detail_grn .mobile_date_grn,.mobile_wf_progress_state_grn .mobile_date_grn {
    font-size: 12px;
    color: #999
}

.mobile_wf_progress_state_grn .mobile_current_grn span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 22px;
    margin-left: 4px;
    background: url(/assets/mobile/img/wf_progress_arrow.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_wf_progress_state_grn .mobile_current_grn .mobile_wf_remand_grn {
    background: url(/assets/mobile/img/wf_progress_remand.png) no-repeat center;
    background-size: 22px 22px
}

.mobile_wf_progress_state_grn .mobile_current_grn.ui-li-static {
    padding-left: 30px
}

.mobile_icon_user_grn {
    background: url(/assets/mobile/img/user.png) no-repeat 0 0;
    background-size: 16px 16px
}

.mobile_icon_userLogin_grn {
    background: url(/assets/mobile/img/userLogin.png) no-repeat 0 0;
    background-size: 16px 16px
}

.mobile_icon_userInvalid_grn {
    background: url(/assets/mobile/img/userInvalid.png) no-repeat 0 0;
    background-size: 16px 16px
}

.mobile_icon_userInvalidApp_grn {
    background: url(/assets/mobile/img/userInvalidApp.png) no-repeat 0 0;
    background-size: 16px 16px
}

.mobile_schedule_list_grn {
    margin: 0;
    padding: 12px 0 0 0
}

.mobile_information_alert_grn {
    padding: 2px 0
}

.mobile_information_alert_grn,.mobile_schedule_information_alert_grn {
    position: relative;
    padding-left: 20px;
    line-height: 1
}

.mobile_iconposition_attentions_grn {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 0
}

.mobile_information_alert_grn .mobile_iconposition_attentions_grn {
    top: 0
}

.mobile_icon_attentions_grn {
    background: url(/assets/mobile/img/attention_s.png) no-repeat center center;
    background-size: 16px 16px
}

.mobile_information_alert_grn .mobile_text_information_grn,.mobile_schedule_grn .mobile_text_information_grn {
    font-size: 14px;
    color: #e66154;
    line-height: 1
}
