body {
    background-color: #fff
}

.cloudHeader-grn {
    background: #9e7e69;
    box-shadow: none
}

#headerimage {
    display: none
}

.header_appmenu_grn .header_appmenu_title_grn {
    border-right: 1px solid #fff
}

.cloudHeader-dropdownMenu-grn>button:focus,.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn,.cloudHeader-dropdownMenu-open-grn button.cloudHeader-adminSettingsTitle-grn:hover,.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn,.cloudHeader-dropdownMenu-open-grn button.cloudHeader-grnNotificationTitle-grn:hover,.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn,.cloudHeader-dropdownMenu-open-grn button.cloudHeader-spaceApplicationTitle-grn:hover,.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn,.cloudHeader-dropdownMenu-open-grn button.cloudHeader-userName-grn:hover,.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn,.cloudHeader-dropdownMenu-open-grn button.header_appmenu_title_grn:hover,.cloudHeader-logoBox-grn:hover,.cloudHeader-searchbox .input-text-outer-cybozu button:hover,.cloudHeader-searchbox .searchbox-submit-cybozu,.cloudHeader-searchbox input,.cloudHeader-startMenuTitle-grn:hover,.header_home_grn:hover,.header_left_area_grn>a.header_home_grn:focus,.header_left_area_grn>h1>a.cloudHeader-logo-grn:focus,button.cloudHeader-adminSettingsTitle-grn:hover,button.cloudHeader-grnNotificationTitle-grn:hover,button.cloudHeader-spaceApplicationTitle-grn:hover,button.cloudHeader-userName-grn:hover,button.header_appmenu_title_grn:hover {
    background-color: #865f44
}

.cloudHeader-service-inner-grn .cloudHeader-service-kintone-grn a:focus,.cloudHeader-service-inner-grn .cloudHeader-service-mailwise-grn a:focus,.cloudHeader-service-inner-grn .cloudHeader-service-office-grn a:focus {
    box-shadow: 0 0 0 6px #865f44
}

.icon-appMenu-portal {
    background-image: url(/img/Portal.png)
}

.icon-appMenu-space {
    background-image: url(/img/Scheduler.png)
}

.icon-appMenu-link {
    background-image: url(/img/Bullentin_Board.png)
}

.icon-appMenu-schedule {
    background-image: url(/img/Cabinet.png)
}

.icon-appMenu-facility {
    background-image: url(/img/Cabinet.png)
}

.icon-appMenu-message {
    background-image: url('/img/Time set.png');
}

.icon-appMenu-bulletin {
    background-image: url(/img/To_do_list.png)
}

.icon-appMenu-cabinet {
    background-image: url(../image/cybozu/image-common/appicon_type17/file32_type17.svg)
}

.icon-appMenu-memo {
    background-image: url(../image/cybozu/image-common/appicon_type17/memo32_type17.svg)
}

.icon-appMenu-phonemessage {
    background-image: url(../image/cybozu/image-common/appicon_type17/telmemo32_type17.svg)
}

.icon-appMenu-timecard {
    background-image: url(../image/cybozu/image-common/appicon_type17/timecard32_type17.svg)
}

.icon-appMenu-todo {
    background-image: url(../image/cybozu/image-common/appicon_type17/todolist32_type17.svg)
}

.icon-appMenu-address {
    background-image: url('/img/kaizen.png')
}

.icon-appMenu-mail {
    background-image: url(../image/cybozu/image-common/appicon_type17/mail32_type17.svg)
}

.icon-appMenu-workflow {
    background-image: url(/img/Report.png)
}

.icon-appMenu-report {
    background-image: url(../image/cybozu/image-common/appicon_type17/report32_type17.svg)
}

.icon-appMenu-star {
    background-image: url(../image/cybozu/image-common/appicon_type17/star32_type17.svg)
}

.icon-appMenu-notification {
    background-image: url(../image/cybozu/image-common/appicon_type17/notify32_type17.svg)
}

.icon-appMenu-defaultmenu {
    background-image: url(../image/cybozu/image-common/appicon_type17/defaultmenu32_type17.svg)
}

.applicationMenu-grn {
    background: 0 0
}

div.appmenuToggleWrapper {
    background-color: #e6e6e6
}

div.appmenuToggleWrapper div.appmenuExpand {
    background-image: url(../image/cybozu/modernbrown/gr_appmenu_togglebar_symbol_close.svg)
}

div.appmenuToggleWrapper div.appmenuCollapse {
    background-image: url(../image/cybozu/modernbrown/gr_appmenu_togglebar_symbol_open.svg)
}

.tab_on {
    background-color: #0e74dd;
}

.portal_tabgroup_grn .tab_off a:hover,.portal_tabgroup_grn .tab_off:hover,.tab_off a:hover,.tab_off:hover {
    background-color: #f1edea
}

.global_navi,.global_navi_title {
    border-bottom: 1px solid #dedede
}

.mainarea {
    margin: 0;
    padding-top: 4px
}

.mainarea_portal_base_grn {
    margin-top: 7px
}

.mainarea_full_grn .mainarea-mail #menu_part {
    border-top: 0
}

.list_column {
    border-top: 0 none;
    border-bottom: 0 none
}

.list_column th,.space-todoList-listColumn-grn table th {
    background-color: #fff;
    border-top: 1px solid #dedede;
    border-bottom: 1px dashed #dbdbdb;
    line-height: 1.2
}

.lineone {
    background-color: #fff
}

.linetwo {
    background-color: #fff
}

.hilight,.naviColumn .hilight,.tree-select-current {
    background-color: #d8cbc3;
    border: 2px solid #d8cbc3
}

.space-threadList-read-grn:hover,.space-threadList-unread-grn:hover,.tree_part_item_a_grn:hover,.tree_style1_grn .ygtvitem .menu_unselect_grn:hover,.ygtvitem .menu_unselect_grn:hover,.ygtvitem .node_dragenter_grn,.ygtvitem .node_dragenter_grn:hover {
    background-color: #f7f5f3
}

.space-threadList-inner-grn .hilight,.space-todoLeft-inner-grn .hilight,.space_threadlist_tree_base_grn .ygtvitem .menu_selected_grn,.tree_part_item_base_grn .hilight,.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover,.tree_style1_grn .ygtvitem .menu_selected_grn,.ygtvitem .menu_selected_grn {
    background: #eee8e4
}

.bg_personal20 #tree_part,.naviColumn {
    background-color: #f5f2f0
}

.portlet_base_grn {
    border: 1px solid #d6d6d6;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.1)
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn,.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:active,.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_select_grn:hover,.portlet_base_grn .button_group_li_grn .button_group_item_select_grn,.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:active,.portlet_base_grn .button_group_li_grn .button_group_item_select_grn:hover {
    background-image: none;
    background-color: #9e7e69;
    border: 1px solid #9e7e69
}

.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn,.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:active,.navi_viewchange_theme_grn .button_group_li_grn .button_group_item_grn:hover,.portlet_base_grn .button_group_li_grn .button_group_item_grn,.portlet_base_grn .button_group_li_grn .button_group_item_grn:active,.portlet_base_grn .button_group_li_grn .button_group_item_grn:hover {
    border-left-width: 0
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn,.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:active,.navi_viewchange_theme_grn .button_group_ul_grn .button_group_item_select_grn:hover,.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn,.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:active,.portlet_base_grn .button_group_ul_grn .button_group_item_select_grn:hover {
    border-left-width: 0
}

.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn,.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active,.navi_viewchange_theme_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover,.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn,.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:active,.portlet_base_grn .button_group_ul_grn .button_group_li_grn:first-child .button_group_item_grn:hover {
    border-left-width: 1px
}

.global_naviBack-viewChangeSelect-grn span {
    background: #fe7701;
    border: 1px solid #fe7701;
}

.read_grn:link,.read_grn:visited,.title_list_area_grn .read_grn {
    background: #fff url(../image/cybozu/image-common/paine_shadow.png) repeat-y
}

.read_grn:hover {
    background: #f0f0f0 url(../image/cybozu/image-common/paine_shadow.png) repeat-y
}

.title_list_area_grn .list_select_grn {
    background: #9e7e69 url(../image/cybozu/image-common/paine_shadow.png) repeat-y
}

.title_list_area_grn .list_select_grn:hover {
    background-color: #906f5a
}

.space-threadRightList-tabCurrent-grn {
    background-color: #eee8e4;
    border: 1px solid #eee8e4;
    border-bottom: 1px solid #eee8e4
}

.space-threadRightList-tab-grn {
    background-color: #e6e6e6;
    border-bottom: 1px solid #e6e6e6
}

.space-threadRightList-body-grn {
    background-color: #eee8e4
}

.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc
}

.space-threadRightList-gripOpen-grn {
    background-image: url(../image/cybozu/modernbrown/btn-threadrightlist-grip.svg)
}

.space-threadRightList-gripOpen-grn:hover {
    background-image: url(../image/cybozu/modernbrown/btn-threadrightlist-grip.svg)
}

.space-threadRightList-gripClose-grn {
    background-image: url(../image/cybozu/modernbrown/btn-threadrightlist-grip.svg)
}

.space-threadRightList-gripClose-grn:hover {
    background-image: url(../image/cybozu/modernbrown/btn-threadrightlist-grip.svg)
}

.footer_grn {
    background-color: #f3f3f3;
    line-height: 1
}

.move_top_grn {
    background: #ccc url(../image/cybozu/image-common/move_top.png) no-repeat center center
}

.credit {
    color: #888
}

.link_body_color_grn a:link,.link_body_color_grn a:visited {
    color: #222
}

#footer a:link,#footer a:visited,#main_menu_part a:link,#main_menu_part a:visited,#menu_part a:link,#menu_part a:visited,.button_style_off_grn,.file_input_div,.globalNavi-item-grn a:link,.globalNavi-item-grn a:visited,a:link,a:visited {
    color: #0a62ad;
    text-decoration: none
}

#footer a:hover,#main_menu_part a:hover,#menu_part a:hover,.bodytext_footer_grn a:hover,.button_style_off_grn:hover,.comment-grn a:hover,.globalNavi-item-grn a:active,.globalNavi-item-grn a:hover,.link_body_color_grn a:hover,.list_column td.top_title a:hover,.space-thread-comment-footer-grn a:hover,.space-todo-comment-footer-grn a:hover,a:active,a:hover,table.top_title a:hover {
    color: #c30;
    text-decoration: underline
}

.normalEventElement a:link,.normalEventElement a:visited {
    color: #2869ab;
    text-decoration: none
}

.normalEventElement a:hover {
    color: #c30;
    text-decoration: underline
}
