.schedule_display_options_dialog{position:absolute;z-index:91;padding:5px;text-align:left}.smart_data_count_navi{float:left}#personal_day_display_options{width:720px}#personal_week_display_options{width:755px}.view_personal_day_calendar_events{float:left}