#tree_structure .items {
    width: 98%;
    margin-bottom: .5em;
    padding: 5px 0 5px 5px
}

#tree_structure .items a {
    white-space: nowrap
}

#tree_structure #focus {
    font: bold 100% sans-serif;
    background: #c6cbeb
}

.child {
    margin-left: 1em
}

#tree_part {
    padding: 5px 5px 0 0;
    width: 15%
}

.tree_item {
    white-space: nowrap
}

#tree_part .folderItem,#tree_structure .items div,.tree_item {
    margin-bottom: 7px;
    line-height: 1.1
}

#tree_part .folderItem {
    height: auto
}

#tree_part .folderItem span {
    margin-bottom: 5px;
    display: inline-block
}

#tree_part img {
    vertical-align: -3px
}

#tree_part .border-partition-common-grn {
    border-top: 1px solid #e3e3e3;
    border-bottom: 0
}

.tree_base_scroll_y_grn {
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #c9c9c9
}

.wrap-tree-view {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    background: #fff
}

.wrap-tree-view-right {
    border: 1px solid #d3d3d3!important;
    padding-left: 10px;
    background: #fff
}

.wrap-tree-view .ygtvcell {
    line-height: 1.1
}

.wrap-tree-view .ygtvdepth0 .ygtvrow .ygtvcell {
    padding: 2px 0
}

.tvw td.wrap-tree-view {
    padding: 3px
}

.tree-view-label {
    margin: 0;
    font-weight: 700;
    white-space: nowrap
}

.tree-view {
    font-size: 95%
}

.tree_view_scroll_grn {
    overflow-x: auto;
    overflow-y: auto;
    width: 190px;
    font-size: 95%
}

.tree_width_ajust_grn .tree_view_scroll_grn {
    border-right: 1px solid #e3e3e3
}

.fixed_tree_area_grn {
    position: fixed;
    top: 60px;
    z-index: 100
}

td.wrap-tree-view .tree-view {
    background-color: #fff;
    margin: 3px 0
}

.tree_width_ajust_grn #tree_part {
    padding: 0;
    width: auto
}

.tree_width_ajust_grn #folder_tree {
    margin-bottom: 20px
}

.tree_width_ajust_grn #folder_tree,.tree_width_ajust_grn #folder_tree_top {
    padding-left: 2px
}

.tree_width_ajust_grn #view_part {
    border-left: 0
}

.tree-view-ul-top {
    width: 350px;
    white-space: nowrap;
    margin: 0;
    padding: 2px 0 2px 0
}

.tree-view-ul {
    width: auto;
    white-space: nowrap;
    margin: 0 0 0 1.3em;
    padding: 0
}

.tree-node {
    white-space: nowrap;
    margin: 2px 0
}

.tree-select-current {
    white-space: nowrap
}

.tree-unread-num {
    margin-left: 1px;
    color: #fff;
    background-color: #919191;
    padding: 2px 3px 1px;
    font-size: 90%;
    font-weight: 700;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    line-height: 1
}

.select_item_base_grn .wrap-tree-view {
    padding: 0;
    border-width: 1px
}

.select_item_base_grn .wrap-tree-view-right {
    padding: 13px;
    border-width: 1px
}

.select_item_base_grn td.wrap-tree-view .tree-view {
    margin: 0;
    padding: 10px
}

.popup_content_grn .select_item_base_grn td.wrap-tree-view .tree-view {
    width: 300px;
    overflow: auto
}

.select_item_setting_grn .select_item_base_grn td.wrap-tree-view .tree-view {
    min-width: 200px;
    overflow-y: auto;
    padding-right: 20px
}

.tree_view_list_grn {
    white-space: nowrap;
    display: block;
    margin-bottom: 4px;
    line-height: 1.2
}

.tree_text_style1_grn a:active,.tree_text_style1_grn a:hover,.tree_text_style1_grn a:link,.tree_text_style1_grn a:visited {
    color: #333
}

.tree_part_item_base_grn {
    margin: 0;
    padding: 0;
    line-height: 1.2
}

.tree_part_item_grn {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap
}

.tree_part_item_a_grn {
    display: block;
    margin: 0;
    padding: 5px
}

.tree_part_item_a_grn:hover {
    background-color: #edf4fb;
    text-decoration: none
}

.tree_part_item_base_grn .hilight,.tree_part_item_base_grn .hilight .tree_part_item_a_grn:hover {
    border-radius: 0;
    border: 0;
    font-weight: 700;
    background: #e1edf9;
    list-style: none;
    display: block
}

#tree_part .tree_part_item_a_img_grn {
    vertical-align: middle
}

.tree_part_item_a_text_grn {
    margin-left: 5px;
    vertical-align: middle
}

.ygtvblankdepthcell,.ygtvdepthcell,.ygtvlm,.ygtvlmh,.ygtvln,.ygtvloading,.ygtvlp,.ygtvlph,.ygtvspacer,.ygtvtm,.ygtvtmh,.ygtvtn,.ygtvtp,.ygtvtph {
    width: 19px;
    height: 20px
}

.ygtvrow .ygtvblankdepthcell,.ygtvrow .ygtvtn {
    width: 40px;
}

.ygtvlp a:link,.ygtvlph a:link,.ygtvtp a:link,.ygtvtph a:link {
    cursor: pointer;
    background: url('/public/img/arrow_close_sub16.png') 0 center no-repeat
}

.ygtvlp a:hover,.ygtvlph a:hover,.ygtvtp a:hover,.ygtvtph a:hover {
    background: url('/public/img/arrow_close_hover16.png') 0 center no-repeat
}

.ygtvlm a:link,.ygtvlmh a:link,.ygtvtm a:link,.ygtvtmh a:link {
    cursor: pointer;
    background: url('/public/img/arrow_open_sub16.png') 0 center no-repeat
}

.ygtvlm a:hover,.ygtvlmh a:hover,.ygtvtm a:hover,.ygtvtmh a:hover {
    background: url('/public/img/arrow_open_hover16.png') 0 center no-repeat
}

.ygtvloading a:hover,.ygtvloading a:link {
    background: url(/public/img/spinner.gif) 0 0 no-repeat
}

.ygtvlabel,.ygtvlabel:hover,.ygtvlabel:link,.ygtvlabel:visited {
    margin-left: 0;
    white-space: nowrap
}

.ygtvspacer {
    display: block
}

a.ygtvspacer {
    text-decoration: none
}

.ygtvcell div {
    padding: 3px 0
}

#folder_tree_top {
    display: inline-block
}

#folder_tree_top,.ygtvcell div {
    line-height: 1.1
}

td.ygtvcell {
    height: 20px
}

.ygtvcell a:hover {
    text-decoration: none
}

.treepart_grn {
    padding: 0 5px 0 10px;
    width: 19%
}

.viewpart_grn {
    border-left: 1px solid #e3e3e3;
    padding: 0 10px
}

.viewpart_grn img {
    vertical-align: -3px
}

.tree_checkbox_grn {
    vertical-align: -2px;
    padding: 0;
    margin: 0 4px 0 1px
}

.category_important_grn,.tree_label01_grn {
    padding: 1px 3px;
    margin: 0 3px 0 3px;
    font-size: 85%;
    vertical-align: 1px;
    border-radius: 2px
}

.tree_label01_grn {
    background: #c9c9c9;
    border: 1px solid #c9c9c9;
    color: #333;
    font-weight: 400
}

.category_important_grn {
    background: #f3d2d0;
    border: 1px solid #ebb7b4;
    color: #933;
    font-weight: 700
}

#folder_tree_top .icon_mark_subscribe_grn,.ygtvhtml .icon_mark_subscribe_grn {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../image/cybozu/image-common/mark_subscribe10.png) 0 0 no-repeat
}

.tree_style1_grn .tree-node,.tree_style1_grn .ygtvitem .tree-select-current {
    margin: 4px 0 4px 0;
    line-height: 1.1
}

.tree_style1_grn table td {
    white-space: nowrap
}

.tree_style1_grn .ygtvitem .menu_selected_grn,.tree_style1_grn .ygtvitem .menu_unselect_grn {
    cursor: pointer;
    width: 100%
}

.tree_style1_grn .ygtvitem .menu_unselect_grn:active,.tree_style1_grn .ygtvitem .menu_unselect_grn:link,.tree_style1_grn .ygtvitem .menu_unselect_grn:visited {
    cursor: pointer;
    background-color: #fff
}

.tree_style1_grn .ygtvitem .menu_unselect_grn:hover {
    cursor: pointer
}

.tree_style1_grn .ygtvitem .tree-select-current {
    font-weight: 700;
    white-space: nowrap;
    border-radius: 0;
    background: 0 0;
    border: 0
}

.tree_style1_grn .ygtvcell .tree-select-current,.tree_style1_grn .ygtvcell div,.tree_style1_grn .ygtvitem .icon_trash_small_grn {
    padding: 3px 0 2px
}

#folder_tree_top .tree-select-current,.ygtvcell .tree-select-current {
    display: inline-block;
    border-radius: 0;
    border: 0;
    padding: 5px 4px 4px
}

#category_picker_tree_list .ygtvcell .tree-select-current {
    padding-left: 0
}

.tree_style1_grn .ygtvitem .icon_trash_small_grn {
    padding-left: 18px
}

.tree_style1_grn .ygtvitem .ygtvlm a:active,.tree_style1_grn .ygtvitem .ygtvlm a:link,.tree_style1_grn .ygtvitem .ygtvlm a:visited,.tree_style1_grn .ygtvitem .ygtvlmh a:active,.tree_style1_grn .ygtvitem .ygtvlmh a:link,.tree_style1_grn .ygtvitem .ygtvlmh a:visited,.tree_style1_grn .ygtvitem .ygtvtm a:active,.tree_style1_grn .ygtvitem .ygtvtm a:link,.tree_style1_grn .ygtvitem .ygtvtm a:visited,.tree_style1_grn .ygtvitem .ygtvtmh a:active,.tree_style1_grn .ygtvitem .ygtvtmh a:link,.tree_style1_grn .ygtvitem .ygtvtmh a:visited {
    width: 24px;
    height: 16px;
    cursor: pointer;
    margin-right: 1px
}

.tree_style1_grn .ygtvitem .ygtvlm a:active,.tree_style1_grn .ygtvitem .ygtvlm a:link,.tree_style1_grn .ygtvitem .ygtvlm a:visited,.tree_style1_grn .ygtvitem .ygtvlmh a:active,.tree_style1_grn .ygtvitem .ygtvlmh a:link,.tree_style1_grn .ygtvitem .ygtvlmh a:visited,.tree_style1_grn .ygtvitem .ygtvlp a:active,.tree_style1_grn .ygtvitem .ygtvlp a:link,.tree_style1_grn .ygtvitem .ygtvlp a:visited,.tree_style1_grn .ygtvitem .ygtvlph a:active,.tree_style1_grn .ygtvitem .ygtvlph a:link,.tree_style1_grn .ygtvitem .ygtvlph a:visited,.tree_style1_grn .ygtvitem .ygtvtm a:active,.tree_style1_grn .ygtvitem .ygtvtm a:link,.tree_style1_grn .ygtvitem .ygtvtm a:visited,.tree_style1_grn .ygtvitem .ygtvtmh a:active,.tree_style1_grn .ygtvitem .ygtvtmh a:link,.tree_style1_grn .ygtvitem .ygtvtmh a:visited,.tree_style1_grn .ygtvitem .ygtvtp a:active,.tree_style1_grn .ygtvitem .ygtvtp a:link,.tree_style1_grn .ygtvitem .ygtvtp a:visited,.tree_style1_grn .ygtvitem .ygtvtph a:active,.tree_style1_grn .ygtvitem .ygtvtph a:link,.tree_style1_grn .ygtvitem .ygtvtph a:visited {
    width: 16px;
    height: 16px;
    margin: 0 2px 0 2px;
    cursor: pointer;
    background-position: 0 center
}

.tree_style1_grn .ygtvdepth0 .ygtvloading a:hover,.tree_style1_grn .ygtvdepth0 .ygtvloading a:link,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtm a:active,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtm a:link,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtm a:visited,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtmh a:active,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtmh a:link,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtmh a:visited,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtp a:active,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtp a:link,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtp a:visited,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtph a:active,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtph a:link,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtph a:visited {
    margin-left: 6px
}

.tree_style1_grn .ygtvhtml a:active,.tree_style1_grn .ygtvhtml a:hover,.tree_style1_grn .ygtvhtml a:link,.tree_style1_grn .ygtvhtml a:visited {
    color: #222;
    text-decoration: none
}

.tree_style1_table_grn #tree_part {
    padding: 0
}

.tree_folder_only_grn .tree_style1_grn .ygtvitem .ygtvdepthcell,.tree_folder_only_grn .tree_style1_grn .ygtvitem .ygtvln,.tree_folder_only_grn .tree_style1_grn .ygtvitem .ygtvtn,.tree_folder_only_grn .tree_style1_grn .ygtvspacer {
    width: 10px
}

.tree_style1_grn .ygtvitem .ygtvdepthcell,.tree_style1_grn .ygtvitem .ygtvln,.tree_style1_grn .ygtvitem .ygtvtn {
    width: 19px;
    background: 0 0
}

.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvln,.tree_style1_grn .ygtvitem .ygtvdepth0 .ygtvtn {
    width: 24px
}

.tree_style1_grn a.ygtvspacer {
    width: 16px;
    margin: 0 2px 0 2px
}

.tree_style1_grn .ygtvloading a:hover,.tree_style1_grn .ygtvloading a:link {
    width: 16px;
    background-position: 0 center
}

.tree_style2_grn {
    line-height: 1.2
}

.tree_style2_grn ul {
    margin: 0 0 0 18px;
    padding: 0
}

.tree_style2_grn li {
    margin: 5px;
    padding: 0;
    list-style-type: none
}

.tree_style2_grn .tree_first_item_grn {
    margin: 8px 0;
    padding: 0
}

.weather_point_area_base_grn,.weather_point_area_base_grn li,.weather_point_area_base_grn ul {
    margin: 2px 0;
    padding: 0
}

.weather_point_area_grn {
    width: 55px;
    white-space: nowrap;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    font-weight: 700;
    margin: 0 15px 0 3px
}

.weather_point_area_separator_grn {
    width: 15px;
    text-align: center;
    display: inline-block
}

.weather_point_grn {
    width: 90px;
    white-space: nowrap;
    display: inline-block
}

.weather_point_grn .checkbox_base_grn {
    margin: 0
}

.tree_style2_grn .treeitem:focus {
    outline: 2px solid #79bbe9
}

.tree_style2_grn .treeitem:active {
    outline: 0 none
}
