.header_appmenu_grn, .header_appmenu_title_grn {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    text-shadow: none;
}
.cloudHeader-grn {
    background: #4b4a4a none;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    font-size: 100%;
    width: 100%;
    z-index: 1000;
    white-space: nowrap;
    line-height: 1.4;
}
.button_style_off_grn:hover {
    text-decoration: none;
}
.cloudHeader-inner-grn a::after, .cloudHeader-inner-grn a::before, .cloudHeader-inner-grn button::after, .cloudHeader-inner-grn button::before, .tab_off a::after, .tab_off a::before {
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
}
.cloudHeader-inner-grn button::after, .cloudHeader-inner-grn button::before, .tab_off a::after, .tab_off a::before {
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
}
.button_style_off_grn {
    background: 0 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 100%;
}
.header_appmenu_title_grn {
    background-image: url(/assets2/img/appmenu_hd.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 72px;
    background-size: 46px 46px;
    padding: 8px 7px 6px;
    box-sizing: inherit;
    border: none;
    border-right: 1px solid #666;
}
.sidebar-top ul{
    display:flex;
    margin-bottom: 0px;
}
.sidebar-top ul li{
    list-style: none;
    padding:15px 20px 5px;
}
.sidebar-top ul li a div{
    text-align: center;
}
.sidebar-top ul li a img{
    width:50px;
}
.sidebar-bottom{
    height: 8px;
    background: #fe7701;
}
.button-off{
    width:20%;
    height: 100%;
    display:block;
    background: #333;
    margin:0 auto;
}
.button-off a{
    width:100%;
    height:100%;
    display:block;
}
.button-off a:hover{
    cursor:pointer;
}
.sidebar-top.hidden ul{
    display: none!important;
}
.sidebar-top.show ul{
    display: flex;
}
.sidebar-top-off{
    text-align: center;
    position: relative;
}
.fa-chevron-up{
    color:#fff;
    position: absolute;
    top:-3px;
}
.fa-chevron-down{
    color:#fff;
    position: absolute;
    top:0px;
}
.tap-all{
    padding: 6px 25px;
    border: 1px solid #d2d2d2;
    color: #333!important;
    background: #fff;
}
.tap-all.active{
    padding: 6px 25px;
    border: 1px solid #fe7701;
    color: #fff!important;
    background: #fe7701;
}
.tap-all1{
    margin-left: 35px;
    display: table;
    
}
.tap-all2{
    margin-left: 15px;
    display: table; 
}
.mainarea{
    min-height: 650px;
}
.list_menu_item .active{
    font-size: 20px;
    text-decoration: underline;
    color: #fe7701;
}
.list_menu_item a{
    font-size: 20px;
    color: #333;
}
#todo-add{
    font-size:20px;
    font-weight: inherit;
    color:#333;
}
#todo-add img{
    width:23px;
}
#category-add{
    font-size:20px;
    font-weight: inherit;
    color:#333;
}
#category-add img{
    width:23px;
}
#lnk_delete_all{
    font-size:20px;
    font-weight: inherit;
    color:#333;
}
#lnk_delete_all img{
    width:23px;
}
.ml25{
    margin-left:25px;
}
#tree_part {
    background: #f2f2f2;
}
.check-list-todo a{
    border: 1px solid #b6b6b6;
    background: #f6f6f6;
    padding-bottom: 6px;
    padding-top: 3px;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
}
